In [10]:
import pandas as pd
import numpy as np

# --- Setup for Example ---
# Create a sample "final" DataFrame
final_df = pd.read_csv('vit_compressed.csv')

# Create a sample DataFrame representing your "removed_ids.csv"
ids_to_remove_df = pd.read_csv('removed_ids.csv')
# -------------------------


# 2. Get the list of IDs to remove from the DataFrame
ids_list = ids_to_remove_df['sample_id'].tolist()

# 3. Filter the 'final_df' to keep only rows whose 'sample_id' is NOT in the list
df = final_df[~final_df['sample_id'].isin(ids_list)]


# --- Display the results ---
print("Original 'final' DataFrame:")
print(final_df)

Original 'final' DataFrame:
       Unnamed: 0  AE_1      AE_2  AE_3  AE_4       AE_5  AE_6  AE_7  AE_8  \
0               0   0.0  5.757127   0.0   0.0   7.221293   0.0   0.0   0.0
1               1   0.0  6.822809   0.0   0.0   4.855610   0.0   0.0   0.0
2               2   0.0  5.067913   0.0   0.0   4.362028   0.0   0.0   0.0
3               3   0.0  9.999098   0.0   0.0   2.068369   0.0   0.0   0.0
4               4   0.0  3.030200   0.0   0.0  10.457285   0.0   0.0   0.0
...           ...   ...       ...   ...   ...        ...   ...   ...   ...
76078       76078   0.0  7.379260   0.0   0.0   5.895375   0.0   0.0   0.0
76079       76079   0.0  5.733422   0.0   0.0   5.953198   0.0   0.0   0.0
76080       76080   0.0  1.851457   0.0   0.0   9.030890   0.0   0.0   0.0
76081       76081   0.0  7.080502   0.0   0.0   2.579115   0.0   0.0   0.0
76082       76082   0.0  5.752820   0.0   0.0   5.564527   0.0   0.0   0.0

       AE_9  ...  AE_192  AE_193  AE_194  AE_195  AE_196  AE_197    AE_198  \
0       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.819504
1       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.414440
2       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  8.158071
3       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.992735
4       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.483029
...     ...  ...     ...     ...     ...     ...     ...     ...       ...
76078   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.021072
76079   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.014749
76080   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.731852
76081   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.568940
76082   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.376318

         AE_199  AE_200  sample_id
0      2.294831     0.0      33127
1      3.958019     0.0     198967
2      6.396258     0.0     261251
3      0.996680     0.0      55858
4      4.046131     0.0     292686
...         ...     ...        ...
76078  2.671479     0.0      41424
76079  5.144578     0.0      35537
76080  9.585409     0.0     249971
76081  5.642931     0.0     188322
76082  2.258754     0.0     298504

[76083 rows x 202 columns]

In [11]:
print("\nSample IDs to remove:")
print(ids_list)

Sample IDs to remove:
[186165, 218503, 238772, 231191, 96295, 59147, 89586, 284687, 45478, 65103, 226144, 269550, 48402, 70033, 172898, 155498, 205534, 231006, 205590, 274130, 60017, 31216, 216288, 41932, 276565, 64584, 161176, 87394, 166121, 85173, 139699, 82808, 166338, 35685, 90173, 153648, 25830, 201761, 219385, 25414, 217625, 157880, 222000, 220218, 117150, 268069, 44255, 226852, 141713, 157240, 74581, 27809, 212626, 101079, 273671, 74138, 37813, 238851, 230073, 276897, 102319, 74594, 227680, 92799, 3410, 88700, 162385, 212272, 240151, 43711, 31769, 56206, 279977, 105231, 35675, 136410, 236464, 10915, 109227, 131553, 87966, 84473, 286550, 166342, 67935, 14904, 169618, 101292, 136706, 207108, 122212, 211107, 243868, 166088, 93795, 44345, 172136, 241610, 55174, 218094, 295341, 38518, 72924, 101479, 62935, 123389, 281133, 92579, 201908, 205986, 86585, 47724, 44407, 212709, 162647, 92329, 116466, 155401, 115755, 228918, 251193, 243751, 83761, 83427, 297601, 50055, 243835, 158697, 273996, 235869, 125755, 87646, 29313, 281346, 87885, 166026, 92352, 41466, 124107, 89514, 185256, 45538, 298554, 259080, 224587, 65960, 101154, 248791, 219745, 162894, 152621, 87807, 217302, 191734, 88649, 30131, 149672, 51701, 233134, 232253, 78473, 233279, 102044, 235868, 74122, 80552, 38215, 251456, 70347, 100972, 286631, 228400, 173871, 226033, 149025, 101138, 237146, 163129, 125895, 56785, 157281, 157069, 91115, 211632, 92383, 248615, 167682, 281920, 161173, 60876, 212058, 90163, 173961, 115936, 87881, 111418, 231657, 44608, 204425, 52196, 164779, 183171, 238179, 290341, 265385, 256813, 253305, 280157, 5827, 92370, 53411, 229595, 215395, 55756, 241785, 75017, 34638, 235120, 171523, 154303, 40040, 259772, 235802, 45661, 230682, 67304, 129698, 88821, 116755, 100920, 38770, 40304, 79309, 35111, 137349, 64742, 258091, 25142, 30468, 74985, 186485, 98397, 12216, 210335, 81906, 76795, 38245, 281161, 27800, 110399, 216860, 101265, 178338, 48023, 172904, 234023, 229202, 163081, 227679, 64351, 63098, 57447, 200024, 246826, 226003, 166718, 79136, 26459, 98084, 36768, 32500, 30537, 48226, 194117, 162636, 88809, 102827, 259100, 98914, 125456, 233126, 81935, 157556, 223804, 243399, 42444, 261562, 163848, 163813, 124623, 97645, 156915, 230685, 246260, 56974, 284914, 182171, 134304, 87173, 91576, 34211, 87963, 137131, 85492, 92396, 295883, 54296, 5461, 226047, 237755, 230566, 247622, 204045, 235345, 274609, 243091, 264355, 240404, 200810, 238490, 227550, 15995, 16995, 62280, 232719, 64047, 172985, 47974, 236184, 236937, 204007, 71869, 6317, 210817, 60546, 57908, 150733, 92572, 92473, 60781, 273249, 83423, 206197, 151369, 243321, 173872, 204678, 35819, 132529, 243753, 226464, 51555, 25066, 89698, 220659, 92405, 228183, 101598, 87879, 169843, 27247, 211329, 78364, 172936, 140538, 209897, 256270, 236161, 249277, 284943, 278082, 226461, 202581, 204282, 257658, 69978, 35439, 5810, 192850, 85048, 94765, 172927, 200992, 166699, 193375, 249607, 226048, 36039, 140722, 92381, 247269, 65962, 205322, 136363, 205983, 110504, 139717, 251495, 203012, 207191, 101295, 44324, 76812, 108837, 156565, 235941, 58948, 62769, 82680, 252952, 130901, 66625, 293923, 101344, 175419, 13130, 141039, 153485, 41148, 129018, 86684, 135270, 173959, 100527, 217027, 164743, 185150, 230427, 259273, 25216, 29562, 166395, 172853, 239963, 166947, 82948, 262150, 275956, 152629, 78357, 153104, 92361, 98280, 296785, 115654, 164671, 79217, 166716, 219836, 101289, 70588, 291712, 98877, 74906, 150592, 114644, 30909, 48275, 27806, 157043, 278737, 237227, 84324, 92809, 177961, 116149, 87884, 93698, 184929, 101579, 219829, 237515, 157522, 246053, 114854, 230187, 123228, 172830, 209205, 192916, 138314, 230208, 153182, 183713, 73841, 166713, 289035, 237264, 248142, 249440, 211479, 220656, 157379, 282646, 108213, 72737, 102212, 141817, 272877, 134752, 226020, 151884, 261392, 101071, 101300, 72297, 166345, 217614, 35259, 74588, 236231, 227937, 81426, 91427, 74881, 128925, 281513, 134544, 155073, 213031, 105689, 98555, 136766, 57506, 85145, 243833, 2957, 68196, 9570, 114819, 215071, 157395, 92336, 15818, 67694, 236479, 75775, 51548, 67651, 206266, 236167, 45184, 225036, 149648, 230769, 294006, 212756, 58903, 182467, 88573, 92576, 243582, 220419, 178177, 282155, 157399, 232701, 295937, 90553, 283941, 221995, 151951, 82966, 277009, 159933, 28225, 169572, 212256, 10378, 92371, 220344, 44385, 134925, 201504, 66937, 7202, 236723, 227929, 74656, 29857, 85823, 186801, 260319, 180369, 206761, 233273, 221288, 117969, 171801, 210811, 166630, 106988, 59100, 166032, 168069, 249199, 145396, 42282, 24506, 246640, 23581, 28744, 67469, 166712, 189882, 209202, 266228, 6583, 201914, 67688, 92367, 250601, 79263, 75776, 39078, 154383, 258053, 67400, 118225, 235719, 56774, 229229, 84047, 135172, 274184, 63323, 7695, 251501, 210816, 80255, 172426, 166690, 45460, 102088, 92362, 92387, 230226, 63362, 234938, 239059, 231514, 66981, 91111, 136382, 77391, 80540, 94368, 240463, 241487, 180058, 270783, 101210, 21546, 166148, 81681, 81023, 228292, 168826, 62299, 58015, 246620, 87852, 267009, 225533, 98875, 158953, 80953, 213042, 137986, 237510, 238952, 159120, 162990, 166715, 66503, 46182, 163805, 211252, 111919, 44916, 152231, 102250, 228110, 45188, 13881, 62566, 28052, 46269, 240844, 285940, 24171, 253243, 220353, 163305, 235441, 266226, 102189, 13389, 176905, 174931, 92777, 23604, 69972, 251500, 70026, 236182, 98915, 211166, 59423, 247620, 153139, 91662, 293145, 152714, 210823, 245575, 23250, 118508, 162020, 80873, 170026, 156918, 253543, 156782, 188461, 189907, 174957, 118726, 57336, 287674, 269486, 46467, 237703, 72330, 74586, 145310, 104409, 75941, 210894, 242939, 245092, 101065, 80272, 83365, 59475, 159608, 70054, 72539, 288722, 203599, 117818, 78390, 163181, 217631, 281262, 14825, 282513, 38309, 89563, 73393, 89783, 151066, 211892, 45163, 56604, 92804, 257237, 42817, 83947, 276567, 172981, 101414, 85491, 245325, 78235, 236229, 279388, 200904, 117153, 113184, 212427, 166437, 286332, 244212, 27994, 108848, 74576, 96795, 266230, 72156, 272618, 275351, 162752, 72759, 39386, 246863, 129080, 255151, 56922, 10123, 65805, 23904, 95226, 166697, 104009, 288925, 247801, 277691, 92343, 276940, 151423, 98678, 161815, 298337, 87968, 22375, 51554, 182657, 117325, 199605, 68158, 74749, 66506, 92394, 163715, 85700, 58872, 224658, 267586, 219492, 197470, 88941, 92395, 247996, 230003, 279323, 110460, 161862, 239043, 34599, 200683, 9093, 163870, 171101, 230267, 199911, 170204, 132315, 66009, 66641, 166346, 265848, 280238, 148557, 230430, 101161, 60324, 117944, 266219, 86954, 269223, 134949, 34786, 158100, 86216, 251177, 88004, 50483, 101054, 206268, 155770, 101301, 53219, 129276, 123224, 169592, 209056, 92330, 184002, 41673, 16556, 72047, 200688, 294476, 114570, 286849, 84165, 164077, 140490, 109441, 26682, 168650, 154386, 66772, 44513, 73126, 64914, 69704, 251498, 242676, 200808, 228600, 211149, 201461, 222013, 219579, 105310, 227473, 62197, 42214, 6203, 49475, 4812, 102224, 57699, 247872, 143215, 210856, 226463, 21358, 29982, 273935, 101412, 210958, 120237, 163847, 188935, 102198, 225554, 62984, 216409, 243948, 167668, 140816, 68555, 91062, 100969, 211093, 236670, 247833]

In [12]:

print("\nDataFrame after removing rows:")
print(df)

DataFrame after removing rows:
       Unnamed: 0  AE_1      AE_2  AE_3  AE_4       AE_5  AE_6  AE_7  AE_8  \
0               0   0.0  5.757127   0.0   0.0   7.221293   0.0   0.0   0.0
1               1   0.0  6.822809   0.0   0.0   4.855610   0.0   0.0   0.0
2               2   0.0  5.067913   0.0   0.0   4.362028   0.0   0.0   0.0
3               3   0.0  9.999098   0.0   0.0   2.068369   0.0   0.0   0.0
4               4   0.0  3.030200   0.0   0.0  10.457285   0.0   0.0   0.0
...           ...   ...       ...   ...   ...        ...   ...   ...   ...
76078       76078   0.0  7.379260   0.0   0.0   5.895375   0.0   0.0   0.0
76079       76079   0.0  5.733422   0.0   0.0   5.953198   0.0   0.0   0.0
76080       76080   0.0  1.851457   0.0   0.0   9.030890   0.0   0.0   0.0
76081       76081   0.0  7.080502   0.0   0.0   2.579115   0.0   0.0   0.0
76082       76082   0.0  5.752820   0.0   0.0   5.564527   0.0   0.0   0.0

       AE_9  ...  AE_192  AE_193  AE_194  AE_195  AE_196  AE_197    AE_198  \
0       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.819504
1       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.414440
2       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  8.158071
3       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.992735
4       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.483029
...     ...  ...     ...     ...     ...     ...     ...     ...       ...
76078   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.021072
76079   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.014749
76080   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.731852
76081   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.568940
76082   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.376318

         AE_199  AE_200  sample_id
0      2.294831     0.0      33127
1      3.958019     0.0     198967
2      6.396258     0.0     261251
3      0.996680     0.0      55858
4      4.046131     0.0     292686
...         ...     ...        ...
76078  2.671479     0.0      41424
76079  5.144578     0.0      35537
76080  9.585409     0.0     249971
76081  5.642931     0.0     188322
76082  2.258754     0.0     298504

[75128 rows x 202 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75128 entries, 0 to 76082
Columns: 202 entries, Unnamed: 0 to sample_id
dtypes: float64(200), int64(2)
memory usage: 116.4 MB

In [14]:
df.shape

(75128, 202)

In [16]:
df.describe()

,Unnamed: 0,AE_1,AE_2,AE_3,AE_4,AE_5,AE_6,AE_7,AE_8,AE_9,...,AE_192,AE_193,AE_194,AE_195,AE_196,AE_197,AE_198,AE_199,AE_200,sample_id
count,75128.000000,75128.0,75128.000000,75128.0,75128.0,75128.000000,75128.0,75128.0,75128.0,75128.0,...,75128.0,75128.0,75128.0,75128.0,75128.0,75128.0,75128.000000,75128.000000,75128.0,75128.000000
mean,38047.064304,0.0,5.038016,0.0,0.0,5.183851,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.080242,4.165858,0.0,149921.636367
std,21962.548650,0.0,2.900578,0.0,0.0,3.353730,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.412814,2.160618,0.0,86666.015227
min,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000
25%,19022.750000,0.0,2.996899,0.0,0.0,2.746171,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.331860,2.606639,0.0,73832.250000
50%,38050.500000,0.0,4.818295,0.0,0.0,4.843539,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.878456,4.117003,0.0,150154.500000
75%,57075.250000,0.0,6.822020,0.0,0.0,7.231875,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.577563,5.626805,0.0,225121.000000
max,76082.000000,0.0,26.109768,0.0,0.0,24.840029,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,37.716490,15.620831,0.0,299438.000000

In [19]:
for column in df.columns:
    print(f"--- Value Counts for column: {column} ---")
    print(df[column].value_counts())
    print() # Adds a blank line for readability

--- Value Counts for column: Unnamed: 0 ---
Unnamed: 0
76082    1
0        1
1        1
2        1
3        1
        ..
12       1
11       1
10       1
9        1
8        1
Name: count, Length: 75128, dtype: int64

--- Value Counts for column: AE_1 ---
AE_1
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_2 ---
AE_2
0.000000    2315
6.972886      53
2.912707      20
4.836699      12
2.872945      12
            ...
1.954952       1
6.121007       1
3.903394       1
6.454630       1
7.028262       1
Name: count, Length: 69160, dtype: int64

--- Value Counts for column: AE_3 ---
AE_3
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_4 ---
AE_4
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_5 ---
AE_5
0.000000     4461
6.198594       53
3.554273       20
11.750839      12
3.334808       12
             ...
8.009747        1
10.971921       1
4.832195        1
7.459740        1
2.068369        1
Name: count, Length: 67292, dtype: int64

--- Value Counts for column: AE_6 ---
AE_6
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_7 ---
AE_7
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_8 ---
AE_8
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_9 ---
AE_9
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_10 ---
AE_10
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_11 ---
AE_11
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_12 ---
AE_12
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_13 ---
AE_13
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_14 ---
AE_14
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_15 ---
AE_15
0.000000    6124
5.980482      53
1.217982      20
2.086070      12
3.450555      12
            ...
2.908447       1
4.748552       1
3.164319       1
3.161306       1
2.786512       1
Name: count, Length: 65668, dtype: int64

--- Value Counts for column: AE_16 ---
AE_16
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_17 ---
AE_17
0.000000     6601
11.255801      53
2.302832       20
8.061862       12
0.963671       12
             ...
4.785236        1
1.989073        1
3.699343        1
7.167837        1
5.352388        1
Name: count, Length: 65231, dtype: int64

--- Value Counts for column: AE_18 ---
AE_18
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_19 ---
AE_19
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_20 ---
AE_20
0.000000     4055
1.224497       53
0.859093       20
0.782933       12
3.227772       12
             ...
3.333022        1
15.033743       1
9.436940        1
6.062782        1
7.815399        1
Name: count, Length: 67619, dtype: int64

--- Value Counts for column: AE_21 ---
AE_21
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_22 ---
AE_22
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_23 ---
AE_23
0.000000     1170
0.810014       53
0.903649       20
8.318403       12
0.944074       12
             ...
3.830717        1
6.806641        1
11.828382       1
5.392318        1
3.311167        1
Name: count, Length: 70229, dtype: int64

--- Value Counts for column: AE_24 ---
AE_24
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_25 ---
AE_25
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_26 ---
AE_26
0.000000     4047
14.036771      53
5.475153       20
5.408310       12
4.696286       12
             ...
1.207886        1
1.594630        1
5.337144        1
4.597614        1
2.941572        1
Name: count, Length: 67619, dtype: int64

--- Value Counts for column: AE_27 ---
AE_27
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_28 ---
AE_28
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_29 ---
AE_29
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_30 ---
AE_30
0.000000    1472
7.073842      53
7.195189      20
7.334863      12
6.328535      12
            ...
6.568997       1
3.022752       1
8.747210       1
7.721427       1
3.635493       1
Name: count, Length: 69922, dtype: int64

--- Value Counts for column: AE_31 ---
AE_31
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_32 ---
AE_32
0.000000    5000
0.506949      53
4.547942      20
3.226258      12
4.802596      12
            ...
5.231759       1
3.407461       1
7.286151       1
6.268130       1
9.352647       1
Name: count, Length: 66725, dtype: int64

--- Value Counts for column: AE_33 ---
AE_33
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_34 ---
AE_34
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_35 ---
AE_35
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_36 ---
AE_36
0.000000    2648
5.941229      53
3.846996      20
2.719683      12
4.017204      12
            ...
2.558296       1
8.075135       1
9.726006       1
6.143625       1
6.188742       1
Name: count, Length: 68885, dtype: int64

--- Value Counts for column: AE_37 ---
AE_37
0.000000    7470
3.768719      53
0.130510      20
4.766369      13
1.911080      12
            ...
4.337154       1
3.761520       1
9.111024       1
5.458212       1
4.634643       1
Name: count, Length: 64367, dtype: int64

--- Value Counts for column: AE_38 ---
AE_38
0.000000    2725
0.755863      53
1.995708      20
1.087077      12
3.481128      12
            ...
2.703536       1
7.333592       1
4.571158       1
8.823705       1
1.132282       1
Name: count, Length: 68686, dtype: int64

--- Value Counts for column: AE_39 ---
AE_39
0.000000     3822
7.475514       53
12.045368      12
4.198920       12
5.633737       10
             ...
6.436059        1
4.879577        1
5.265609        1
6.275037        1
10.512006       1
Name: count, Length: 67863, dtype: int64

--- Value Counts for column: AE_40 ---
AE_40
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_41 ---
AE_41
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_42 ---
AE_42
0.000000    4373
0.839370      20
1.041111      12
3.296887      12
2.915100      12
            ...
8.277658       1
1.376803       1
1.893392       1
8.758559       1
3.302850       1
Name: count, Length: 67336, dtype: int64

--- Value Counts for column: AE_43 ---
AE_43
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_44 ---
AE_44
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_45 ---
AE_45
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_46 ---
AE_46
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_47 ---
AE_47
0.000000    1861
0.904245      53
2.155262      20
4.795928      12
4.928770      12
            ...
7.604387       1
6.722561       1
2.340521       1
5.288734       1
4.197496       1
Name: count, Length: 69530, dtype: int64

--- Value Counts for column: AE_48 ---
AE_48
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_49 ---
AE_49
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_50 ---
AE_50
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_51 ---
AE_51
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_52 ---
AE_52
0.000000    6125
2.273810      12
0.389880      12
2.187743      10
3.281785       9
            ...
4.556558       1
7.380147       1
8.768598       1
2.949716       1
7.387945       1
Name: count, Length: 65737, dtype: int64

--- Value Counts for column: AE_53 ---
AE_53
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_54 ---
AE_54
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_55 ---
AE_55
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_56 ---
AE_56
0.000000    4389
5.799206      53
1.858075      20
6.057489      12
1.938390      12
            ...
5.860682       1
6.532376       1
8.854013       1
5.706992       1
9.714531       1
Name: count, Length: 67246, dtype: int64

--- Value Counts for column: AE_57 ---
AE_57
0.000000    3906
0.253789      53
1.876926      20
0.093507      12
1.813060      12
            ...
5.945187       1
9.110770       1
7.466804       1
6.885243       1
2.314713       1
Name: count, Length: 67732, dtype: int64

--- Value Counts for column: AE_58 ---
AE_58
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_59 ---
AE_59
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_60 ---
AE_60
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_61 ---
AE_61
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_62 ---
AE_62
0.000000    4432
6.821655      53
1.878167      20
5.530067      12
2.670094      12
            ...
7.127085       1
9.077670       1
2.143906       1
7.838552       1
2.194791       1
Name: count, Length: 67240, dtype: int64

--- Value Counts for column: AE_63 ---
AE_63
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_64 ---
AE_64
0.000000    6246
4.384008      20
5.747389      12
4.207388      12
5.439406       9
            ...
5.312861       1
5.312403       1
3.319946       1
6.281208       1
0.907810       1
Name: count, Length: 65468, dtype: int64

--- Value Counts for column: AE_65 ---
AE_65
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_66 ---
AE_66
0.00000    75127
0.35146        1
Name: count, dtype: int64

--- Value Counts for column: AE_67 ---
AE_67
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_68 ---
AE_68
0.000000     666
4.603404      20
2.246602      12
4.465884      12
10.555436     12
            ...
1.548454       1
5.286632       1
6.330370       1
7.623909       1
2.045276       1
Name: count, Length: 70692, dtype: int64

--- Value Counts for column: AE_69 ---
AE_69
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_70 ---
AE_70
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_71 ---
AE_71
0.000000    3938
2.549066      53
0.902668      20
1.055449      12
5.009025      12
            ...
5.210278       1
3.673995       1
7.530990       1
6.369671       1
5.006993       1
Name: count, Length: 67580, dtype: int64

--- Value Counts for column: AE_72 ---
AE_72
0.000000    3723
0.532191      53
1.536698      20
4.346196      12
1.743915      12
            ...
4.921289       1
4.733234       1
3.462905       1
5.405528       1
2.101073       1
Name: count, Length: 67824, dtype: int64

--- Value Counts for column: AE_73 ---
AE_73
0.000000    3320
4.040629      53
5.754648      12
4.305080      10
1.855705       7
            ...
1.631113       1
7.037228       1
5.947749       1
7.100738       1
6.372381       1
Name: count, Length: 68306, dtype: int64

--- Value Counts for column: AE_74 ---
AE_74
0.000000     1395
12.125611      53
6.450371       20
12.922644      12
6.565346       12
             ...
7.924080        1
3.827534        1
6.970012        1
3.034437        1
0.513617        1
Name: count, Length: 69966, dtype: int64

--- Value Counts for column: AE_75 ---
AE_75
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_76 ---
AE_76
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_77 ---
AE_77
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_78 ---
AE_78
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_79 ---
AE_79
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_80 ---
AE_80
0.000000     3700
4.551555       20
11.315341      12
4.529936       12
9.241426       12
             ...
8.417866        1
2.701290        1
9.639291        1
9.750820        1
4.799250        1
Name: count, Length: 67979, dtype: int64

--- Value Counts for column: AE_81 ---
AE_81
0.000000     1527
8.512545       53
1.944084       20
5.242890       12
5.626152       12
             ...
1.602262        1
8.558350        1
10.999743       1
3.279844        1
4.833837        1
Name: count, Length: 69869, dtype: int64

--- Value Counts for column: AE_82 ---
AE_82
0.000000    3585
0.967402      53
4.511402      20
2.124142      12
7.478205      12
            ...
4.811718       1
5.043818       1
1.220032       1
2.708395       1
4.332108       1
Name: count, Length: 67894, dtype: int64

--- Value Counts for column: AE_83 ---
AE_83
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_84 ---
AE_84
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_85 ---
AE_85
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_86 ---
AE_86
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_87 ---
AE_87
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_88 ---
AE_88
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_89 ---
AE_89
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_90 ---
AE_90
0.000000    2246
8.308252      53
2.173674      20
4.245831      12
2.294893      12
            ...
1.068396       1
5.864218       1
2.766153       1
6.562702       1
2.290464       1
Name: count, Length: 69275, dtype: int64

--- Value Counts for column: AE_91 ---
AE_91
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_92 ---
AE_92
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_93 ---
AE_93
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_94 ---
AE_94
0.000000    3893
5.740314      53
0.753045      20
0.442578      12
5.547555      12
            ...
2.238043       1
2.779533       1
4.227688       1
7.128585       1
6.841747       1
Name: count, Length: 67757, dtype: int64

--- Value Counts for column: AE_95 ---
AE_95
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_96 ---
AE_96
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_97 ---
AE_97
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_98 ---
AE_98
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_99 ---
AE_99
0.000000    7274
6.855195      53
5.923432      12
3.388740      12
2.101340       9
            ...
6.419742       1
5.659802       1
1.664796       1
7.303402       1
2.682132       1
Name: count, Length: 64658, dtype: int64

--- Value Counts for column: AE_100 ---
AE_100
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_101 ---
AE_101
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_102 ---
AE_102
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_103 ---
AE_103
0.000000    1629
7.511957      53
0.623360      20
2.855182      12
9.415627      12
            ...
3.430587       1
5.437840       1
6.338123       1
7.065776       1
6.081473       1
Name: count, Length: 69759, dtype: int64

--- Value Counts for column: AE_104 ---
AE_104
0.000000     5413
1.549322       53
10.596278      12
5.766657       12
8.728196       10
             ...
6.932991        1
5.071622        1
6.275232        1
3.333818        1
2.489402        1
Name: count, Length: 66463, dtype: int64

--- Value Counts for column: AE_105 ---
AE_105
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_106 ---
AE_106
0.000000    3098
6.433763      53
1.210721      12
2.300518      12
3.555477      10
            ...
3.987041       1
3.491840       1
5.902252       1
9.643850       1
3.943385       1
Name: count, Length: 68617, dtype: int64

--- Value Counts for column: AE_107 ---
AE_107
0.000000    1508
7.394120      53
3.039217      12
5.415997      12
7.270467      10
            ...
2.909004       1
5.883493       1
1.898529       1
2.848792       1
2.132263       1
Name: count, Length: 69883, dtype: int64

--- Value Counts for column: AE_108 ---
AE_108
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_109 ---
AE_109
0.000000     2455
5.668347       53
0.199880       20
0.192057       12
5.658959       10
             ...
6.103619        1
6.921920        1
11.156694       1
4.462438        1
3.560884        1
Name: count, Length: 68988, dtype: int64

--- Value Counts for column: AE_110 ---
AE_110
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_111 ---
AE_111
0.000000     1014
3.693752       53
0.980247       20
1.126680       12
3.987581       12
             ...
4.099091        1
2.599418        1
1.668376        1
8.294262        1
10.508815       1
Name: count, Length: 70363, dtype: int64

--- Value Counts for column: AE_112 ---
AE_112
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_113 ---
AE_113
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_114 ---
AE_114
0.000000    6163
1.267456      20
2.775601      12
1.129442      12
0.509871      12
            ...
2.808690       1
5.405136       1
9.346176       1
6.303226       1
1.180257       1
Name: count, Length: 65663, dtype: int64

--- Value Counts for column: AE_115 ---
AE_115
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_116 ---
AE_116
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_117 ---
AE_117
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_118 ---
AE_118
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_119 ---
AE_119
0.000000    4900
3.796583      53
2.622848      20
4.151616      12
2.544865      12
            ...
4.106305       1
5.155100       1
7.124555       1
7.173967       1
5.276413       1
Name: count, Length: 66813, dtype: int64

--- Value Counts for column: AE_120 ---
AE_120
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_121 ---
AE_121
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_122 ---
AE_122
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_123 ---
AE_123
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_124 ---
AE_124
0.000000    5570
4.495609      53
1.272637      20
4.614762      12
1.547494      12
            ...
7.915600       1
5.120011       1
5.212202       1
4.957072       1
3.414649       1
Name: count, Length: 66186, dtype: int64

--- Value Counts for column: AE_125 ---
AE_125
0.000000     3748
8.145215       53
6.306902       20
6.539630       12
4.044938       12
             ...
3.416556        1
8.096023        1
7.053506        1
13.813027       1
3.384406        1
Name: count, Length: 67891, dtype: int64

--- Value Counts for column: AE_126 ---
AE_126
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_127 ---
AE_127
0.000000    4425
5.755798      20
3.314595      12
2.818073      12
5.912234      12
            ...
7.641788       1
7.836114       1
4.278067       1
6.345444       1
5.199845       1
Name: count, Length: 67306, dtype: int64

--- Value Counts for column: AE_128 ---
AE_128
0.000000     1399
13.943000      53
3.496656       20
9.565961       12
3.307227       12
             ...
5.354290        1
2.509548        1
3.324754        1
2.686203        1
2.676769        1
Name: count, Length: 70034, dtype: int64

--- Value Counts for column: AE_129 ---
AE_129
0.000000    2289
0.800545      53
2.998724      20
2.947872      12
5.740182      12
            ...
5.197415       1
8.888727       1
9.204953       1
6.809771       1
3.608909       1
Name: count, Length: 69163, dtype: int64

--- Value Counts for column: AE_130 ---
AE_130
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_131 ---
AE_131
0.0    75128
Name: count, dtype: int64

--- Value Counts for column: AE_132 ---
AE_132
0.000000     2543
3.054089       53
3.714751       20
3.864287       12
0.466985       12
             ...

In [20]:
# 2. Identify columns with only one unique value
# We use a list comprehension to build a list of columns to drop.
cols_to_drop = [col for col in df.columns if df[col].nunique() == 1]

In [21]:
print(f"\nColumns to drop: {cols_to_drop}")

Columns to drop: ['AE_1', 'AE_3', 'AE_4', 'AE_6', 'AE_7', 'AE_8', 'AE_9', 'AE_10', 'AE_11', 'AE_12', 'AE_13', 'AE_14', 'AE_16', 'AE_18', 'AE_19', 'AE_21', 'AE_22', 'AE_24', 'AE_25', 'AE_27', 'AE_28', 'AE_29', 'AE_31', 'AE_33', 'AE_34', 'AE_35', 'AE_40', 'AE_41', 'AE_43', 'AE_44', 'AE_45', 'AE_46', 'AE_48', 'AE_49', 'AE_50', 'AE_51', 'AE_53', 'AE_54', 'AE_55', 'AE_58', 'AE_59', 'AE_60', 'AE_61', 'AE_63', 'AE_65', 'AE_67', 'AE_69', 'AE_70', 'AE_75', 'AE_76', 'AE_77', 'AE_78', 'AE_79', 'AE_83', 'AE_84', 'AE_85', 'AE_86', 'AE_87', 'AE_88', 'AE_89', 'AE_91', 'AE_92', 'AE_93', 'AE_95', 'AE_96', 'AE_97', 'AE_98', 'AE_100', 'AE_101', 'AE_102', 'AE_105', 'AE_108', 'AE_110', 'AE_112', 'AE_113', 'AE_115', 'AE_116', 'AE_117', 'AE_118', 'AE_120', 'AE_121', 'AE_122', 'AE_123', 'AE_126', 'AE_130', 'AE_131', 'AE_134', 'AE_135', 'AE_137', 'AE_139', 'AE_141', 'AE_143', 'AE_144', 'AE_145', 'AE_147', 'AE_148', 'AE_149', 'AE_150', 'AE_151', 'AE_153', 'AE_154', 'AE_155', 'AE_156', 'AE_158', 'AE_161', 'AE_163', 'AE_164', 'AE_165', 'AE_166', 'AE_167', 'AE_168', 'AE_170', 'AE_171', 'AE_173', 'AE_174', 'AE_175', 'AE_176', 'AE_177', 'AE_178', 'AE_179', 'AE_180', 'AE_182', 'AE_183', 'AE_185', 'AE_186', 'AE_188', 'AE_190', 'AE_192', 'AE_193', 'AE_194', 'AE_195', 'AE_196', 'AE_197', 'AE_200']

In [22]:

# 3. Drop the identified columns from the DataFrame
df_cleaned = df.drop(columns=cols_to_drop)

print("\nCleaned DataFrame:")
print(df_cleaned)

Cleaned DataFrame:
       Unnamed: 0      AE_2       AE_5     AE_15      AE_17     AE_20  \
0               0  5.757127   7.221293  3.635454   2.897849  7.894290
1               1  6.822809   4.855610  4.841076   4.996041  4.430372
2               2  5.067913   4.362028  4.281508   1.519393  0.000000
3               3  9.999098   2.068369  5.782341   6.131246  5.751997
4               4  3.030200  10.457285  2.528768   0.000000  6.575437
...           ...       ...        ...       ...        ...       ...
76078       76078  7.379260   5.895375  5.172736   4.785236  3.229356
76079       76079  5.733422   5.953198  1.391989   1.989073  3.763212
76080       76080  1.851457   9.030890  0.866502   3.699343  5.250681
76081       76081  7.080502   2.579115  1.929684   7.167837  5.450599
76082       76082  5.752820   5.564527  3.176674  10.266288  8.361842

           AE_23     AE_26      AE_30     AE_32  ...    AE_169  AE_172  \
0       4.506068  2.356523  11.933986  0.462262  ...  5.034784     0.0
1       4.322799  3.083270   2.389127  2.884340  ...  6.747530     0.0
2       3.130606  1.192615  12.116302  2.865983  ...  6.259283     0.0
3       4.743908  9.021302   2.382915  7.794851  ...  4.950624     0.0
4       6.618774  4.390847   2.888651  4.288273  ...  8.232558     0.0
...          ...       ...        ...       ...  ...       ...     ...
76078   2.322294  4.597614  15.355821  5.044057  ...  3.766550     0.0
76079  11.129331  2.941572   6.719591  6.236841  ...  6.329007     0.0
76080   4.272812  2.534465   5.586588  3.856765  ...  9.780756     0.0
76081   6.877179  3.633242   2.201543  1.288707  ...  2.264248     0.0
76082   4.210940  5.835942   3.008720  8.177645  ...  6.505299     0.0

         AE_181    AE_184    AE_187     AE_189    AE_191    AE_198    AE_199  \
0      2.060318  4.505659  7.431561   9.604703  1.262048  6.819504  2.294831
1      5.476419  4.691962  6.856816   0.458965  7.727770  6.414440  3.958019
2      4.057353  3.742463  5.481276  10.463400  5.083226  8.158071  6.396258
3      8.458349  3.442083  4.021017   1.823017  5.888297  2.992735  0.996680
4      2.663159  3.114678  2.836104   2.891103  0.352642  3.483029  4.046131
...         ...       ...       ...        ...       ...       ...       ...
76078  2.419508  4.525493  1.992741  11.834483  5.144965  5.021072  2.671479
76079  1.673177  3.071980  2.072944  10.303596  4.752009  2.014749  5.144578
76080  4.102943  5.223159  4.756289   5.493590  0.000000  6.731852  9.585409
76081  4.236577  8.170469  3.757071   3.274427  7.789967  3.568940  5.642931
76082  5.440491  3.561639  7.445329   5.786466  7.265205  5.376318  2.258754

       sample_id
0          33127
1         198967
2         261251
3          55858
4         292686
...          ...
76078      41424
76079      35537
76080     249971
76081     188322
76082     298504

[75128 rows x 68 columns]

In [25]:
df_cleaned=df_cleaned.drop('AE_172',axis=1)

In [26]:
df_cleaned=df_cleaned.iloc[:,1:]

In [27]:
df_cleaned

,AE_2,AE_5,AE_15,AE_17,AE_20,AE_23,AE_26,AE_30,AE_32,AE_36,...,AE_162,AE_169,AE_181,AE_184,AE_187,AE_189,AE_191,AE_198,AE_199,sample_id
0,5.757127,7.221293,3.635454,2.897849,7.894290,4.506068,2.356523,11.933986,0.462262,2.749249,...,5.417382,5.034784,2.060318,4.505659,7.431561,9.604703,1.262048,6.819504,2.294831,33127
1,6.822809,4.855610,4.841076,4.996041,4.430372,4.322799,3.083270,2.389127,2.884340,4.233173,...,2.231975,6.747530,5.476419,4.691962,6.856816,0.458965,7.727770,6.414440,3.958019,198967
2,5.067913,4.362028,4.281508,1.519393,0.000000,3.130606,1.192615,12.116302,2.865983,4.881608,...,4.820013,6.259283,4.057353,3.742463,5.481276,10.463400,5.083226,8.158071,6.396258,261251
3,9.999098,2.068369,5.782341,6.131246,5.751997,4.743908,9.021302,2.382915,7.794851,9.837534,...,1.944954,4.950624,8.458349,3.442083,4.021017,1.823017,5.888297,2.992735,0.996680,55858
4,3.030200,10.457285,2.528768,0.000000,6.575437,6.618774,4.390847,2.888651,4.288273,3.968383,...,2.906746,8.232558,2.663159,3.114678,2.836104,2.891103,0.352642,3.483029,4.046131,292686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76078,7.379260,5.895375,5.172736,4.785236,3.229356,2.322294,4.597614,15.355821,5.044057,1.554299,...,6.682939,3.766550,2.419508,4.525493,1.992741,11.834483,5.144965,5.021072,2.671479,41424
76079,5.733422,5.953198,1.391989,1.989073,3.763212,11.129331,2.941572,6.719591,6.236841,1.326019,...,5.208301,6.329007,1.673177,3.071980,2.072944,10.303596,4.752009,2.014749,5.144578,35537
76080,1.851457,9.030890,0.866502,3.699343,5.250681,4.272812,2.534465,5.586588,3.856765,4.808563,...,6.477203,9.780756,4.102943,5.223159,4.756289,5.493590,0.000000,6.731852,9.585409,249971
76081,7.080502,2.579115,1.929684,7.167837,5.450599,6.877179,3.633242,2.201543,1.288707,5.178709,...,1.189223,2.264248,4.236577,8.170469,3.757071,3.274427,7.789967,3.568940,5.642931,188322
76082,5.752820,5.564527,3.176674,10.266288,8.361842,4.210940,5.835942,3.008720,8.177645,6.658640,...,1.006819,6.505299,5.440491,3.561639,7.445329,5.786466,7.265205,5.376318,2.258754,298504

In [28]:
df_cleaned.shape

(75128, 66)

In [30]:
# Drop rows with duplicate 'InvoiceID', keeping the first occurrence
df_cleaned = df_cleaned.drop_duplicates(subset=['sample_id'], keep='first')

In [31]:
df_cleaned.shape

(74059, 66)

In [32]:
df_cleaned.to_csv('final_preprocessed_vit_train_data_to_concat.csv', index=False)