In [23]:
import pandas as pd
import numpy as np

In [24]:
df1 = pd.read_csv('final_bert_autoenc_datato_concat.csv')
df2 = pd.read_csv('final_preprocessed_vit_train_data_to_concat.csv')

In [25]:
merged_df = pd.merge(df1, df2, on='sample_id')

In [26]:
merged_df

,AE_1,AE_8,AE_10,AE_11,AE_13,AE_14,AE_15_x,AE_18,AE_20_x,AE_21,...,AE_159,AE_162,AE_169,AE_181,AE_184,AE_187,AE_189,AE_191,AE_198,AE_199
0,0.785655,2.187887,6.399189,3.417744,1.446427,12.366049,2.715218,0.810837,3.489325,3.394612,...,2.863468,5.417382,5.034784,2.060318,4.505659,7.431561,9.604703,1.262048,6.819504,2.294831
1,2.865123,2.287952,7.680586,3.457501,1.606347,9.358660,6.825308,6.101682,5.299642,6.069296,...,2.022346,2.231975,6.747530,5.476419,4.691962,6.856816,0.458965,7.727770,6.414440,3.958019
2,5.843134,3.005817,7.264092,4.950214,5.342916,8.467631,6.864544,5.185027,7.299217,0.000000,...,4.222858,4.820013,6.259283,4.057353,3.742463,5.481276,10.463400,5.083226,8.158071,6.396258
3,2.762823,7.156640,3.464932,4.235404,4.433351,2.779259,0.619565,4.267726,6.217050,2.496200,...,1.806819,1.944954,4.950624,8.458349,3.442083,4.021017,1.823017,5.888297,2.992735,0.996680
4,6.725155,6.012536,2.606085,4.838819,4.124242,14.591412,6.576507,7.324066,4.965705,4.735979,...,3.682688,2.906746,8.232558,2.663159,3.114678,2.836104,2.891103,0.352642,3.483029,4.046131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73127,0.000000,4.488300,6.156115,4.504830,4.131258,6.120499,0.000000,6.390029,6.446274,3.805207,...,4.319661,5.588512,6.398353,0.000000,1.317299,3.279397,2.411227,1.835022,6.529891,4.883349
73128,6.117847,1.647475,3.558297,4.018712,5.487276,0.000000,2.882695,1.718348,0.000000,4.476652,...,7.784032,0.315338,3.745850,4.696447,4.145058,6.353662,5.709607,9.497203,6.885365,0.963912
73129,4.611588,7.131043,6.657225,2.215267,0.663097,10.938791,5.703098,3.735093,7.989169,3.000521,...,2.189801,6.006826,0.000000,1.609682,2.381426,6.059661,1.832118,5.340717,4.453689,5.075788
73130,6.889124,5.185583,5.212217,3.209433,3.584070,3.988014,2.742423,4.366072,2.123102,7.058281,...,3.795935,6.058852,4.964032,3.845610,5.245067,0.170768,3.679325,6.820364,3.206953,2.745585
73131,3.628395,6.159146,5.471774,8.905475,8.978363,17.403566,1.834963,4.661083,8.181361,2.256317,...,11.028000,4.080571,8.298132,6.834713,4.451289,4.607956,5.549105,5.918246,1.704415,7.289243

In [30]:
df3 = pd.read_csv('final_embedded_data_Copy.csv')

In [31]:
new_df = df3[['sample_id', 'Value', 'Unit_grams', 'Unit_ml']]

In [32]:
new_df

       sample_id        Value  Unit_grams  Unit_ml
0          33127  2129.292000           0        1
1         198967   907.184000           1        0
2         261251   323.184300           1        0
3          55858   318.931875           1        0
4         292686    12.000000           0        0
...          ...          ...         ...      ...
74995      41424   340.194000           1        0
74996      35537   100.000000           0        0
74997     249971  2267.960000           1        0
74998     188322    16.000000           0        0
74999     298504    70.023265           1        0

[75000 rows x 4 columns]

In [33]:
merged_df = pd.merge(merged_df, new_df, on='sample_id')

In [34]:
merged_df.to_csv('final_merged_train_data.csv')

In [35]:
merged_df

,AE_1,AE_8,AE_10,AE_11,AE_13,AE_14,AE_15_x,AE_18,AE_20_x,AE_21,...,AE_181,AE_184,AE_187,AE_189,AE_191,AE_198,AE_199,Value,Unit_grams,Unit_ml
0,0.785655,2.187887,6.399189,3.417744,1.446427,12.366049,2.715218,0.810837,3.489325,3.394612,...,2.060318,4.505659,7.431561,9.604703,1.262048,6.819504,2.294831,2129.292000,0,1
1,2.865123,2.287952,7.680586,3.457501,1.606347,9.358660,6.825308,6.101682,5.299642,6.069296,...,5.476419,4.691962,6.856816,0.458965,7.727770,6.414440,3.958019,907.184000,1,0
2,5.843134,3.005817,7.264092,4.950214,5.342916,8.467631,6.864544,5.185027,7.299217,0.000000,...,4.057353,3.742463,5.481276,10.463400,5.083226,8.158071,6.396258,323.184300,1,0
3,2.762823,7.156640,3.464932,4.235404,4.433351,2.779259,0.619565,4.267726,6.217050,2.496200,...,8.458349,3.442083,4.021017,1.823017,5.888297,2.992735,0.996680,318.931875,1,0
4,6.725155,6.012536,2.606085,4.838819,4.124242,14.591412,6.576507,7.324066,4.965705,4.735979,...,2.663159,3.114678,2.836104,2.891103,0.352642,3.483029,4.046131,12.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73127,0.000000,4.488300,6.156115,4.504830,4.131258,6.120499,0.000000,6.390029,6.446274,3.805207,...,0.000000,1.317299,3.279397,2.411227,1.835022,6.529891,4.883349,999.584300,0,1
73128,6.117847,1.647475,3.558297,4.018712,5.487276,0.000000,2.882695,1.718348,0.000000,4.476652,...,4.696447,4.145058,6.353662,5.709607,9.497203,6.885365,0.963912,36.000000,0,0
73129,4.611588,7.131043,6.657225,2.215267,0.663097,10.938791,5.703098,3.735093,7.989169,3.000521,...,1.609682,2.381426,6.059661,1.832118,5.340717,4.453689,5.075788,1419.528000,0,1
73130,6.889124,5.185583,5.212217,3.209433,3.584070,3.988014,2.742423,4.366072,2.123102,7.058281,...,3.845610,5.245067,0.170768,3.679325,6.820364,3.206953,2.745585,119.918385,1,0
73131,3.628395,6.159146,5.471774,8.905475,8.978363,17.403566,1.834963,4.661083,8.181361,2.256317,...,6.834713,4.451289,4.607956,5.549105,5.918246,1.704415,7.289243,24.000000,0,0