In [1]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv('final_embedded_data.csv')

In [5]:
df2 = pd.read_csv('vit_multilayer_features_raw.csv')

In [6]:
df2.head()

,sample_id,layer_3_feature_0,layer_3_feature_1,layer_3_feature_2,layer_3_feature_3,layer_3_feature_4,layer_3_feature_5,layer_3_feature_6,layer_3_feature_7,layer_3_feature_8,...,layer_11_feature_758,layer_11_feature_759,layer_11_feature_760,layer_11_feature_761,layer_11_feature_762,layer_11_feature_763,layer_11_feature_764,layer_11_feature_765,layer_11_feature_766,layer_11_feature_767
0,33127,0.158651,-0.852484,0.315116,0.424878,0.672298,-0.176817,-0.377571,0.379275,-0.113347,...,1.152018,-44.546840,-4.120969,-1.542822,-0.855660,1.106661,-4.541243,-3.723385,3.283480,4.012595
1,198967,-0.500701,0.265495,-0.352107,-0.735639,0.553420,-1.227401,-0.441425,0.047272,-0.400665,...,0.170765,-35.990650,-1.142565,-2.503250,-0.087476,-0.477760,-1.989846,-0.317365,-1.565638,2.797735
2,261251,-0.346394,0.332432,-0.225141,0.069513,1.651701,-0.772509,-0.957439,0.099147,-0.604178,...,-0.643215,-37.771618,1.175075,0.969148,0.333489,0.962113,-1.082005,-1.598720,0.539585,2.459516
3,55858,0.277322,-1.462215,0.298257,-0.611768,-0.301150,0.118822,0.393406,0.508032,0.170697,...,-0.619915,-37.266260,3.634115,-1.297000,-0.543611,1.039354,1.997421,1.188681,-3.759528,5.151925
4,292686,0.022528,-0.681549,0.101257,-0.255442,0.283004,-0.420618,-0.340413,0.057330,0.163695,...,3.768349,-42.807090,-3.303645,-2.784447,-3.440042,2.045586,0.596134,-3.239100,-2.976719,3.138070

In [7]:
df1.head()

,sample_id,vec1,vec2,vec3,vec4,vec5,vec6,vec7,vec8,vec9,...,vec764,vec765,vec766,vec767,vec768,Unit_grams,Unit_ml,Value,image_link,price
0,33127,-0.735497,-0.417253,0.038383,0.232514,-0.344284,0.010172,0.112404,0.483168,0.052909,...,0.133708,-0.155291,-0.503165,-0.290897,0.437678,0,1,2129.292000,https://m.media-amazon.com/images/I/51mo8htwTH...,4.89
1,198967,-0.550695,-0.316541,0.198338,-0.413873,-0.257527,0.154069,0.037859,0.443655,-0.694422,...,-0.558706,-0.125691,-0.580041,-0.078787,0.353939,1,0,907.184000,https://m.media-amazon.com/images/I/71YtriIHAA...,13.12
2,261251,-0.718114,-0.202316,-0.054308,0.201210,0.027019,0.127905,-0.027772,0.424997,-0.128802,...,-0.158239,-0.461509,-0.249500,-0.180694,0.116885,1,0,323.184300,https://m.media-amazon.com/images/I/51+PFEe-w-...,1.97
3,55858,-0.648414,-0.317754,-0.011313,-0.135515,-0.056709,-0.620720,-0.187950,0.369419,0.150746,...,0.434482,0.037556,-0.404532,-0.016853,0.581076,1,0,318.931875,https://m.media-amazon.com/images/I/41mu0HAToD...,30.34
4,292686,-0.829020,0.063603,-0.150531,-0.421938,-0.381597,0.586611,0.142365,0.451762,0.080123,...,-0.374897,-0.475030,-0.454569,0.537719,0.142073,0,0,12.000000,https://m.media-amazon.com/images/I/41sA037+Qv...,66.49

In [ ]:
merged_df = pd.merge(df1, df2, on='sample_id')

In [10]:
merged_df = merged_df.drop('image_link',axis=1)
merged_df.head()

,sample_id,vec1,vec2,vec3,vec4,vec5,vec6,vec7,vec8,vec9,...,layer_11_feature_758,layer_11_feature_759,layer_11_feature_760,layer_11_feature_761,layer_11_feature_762,layer_11_feature_763,layer_11_feature_764,layer_11_feature_765,layer_11_feature_766,layer_11_feature_767
0,33127,-0.735497,-0.417253,0.038383,0.232514,-0.344284,0.010172,0.112404,0.483168,0.052909,...,1.152018,-44.546840,-4.120969,-1.542822,-0.855660,1.106661,-4.541243,-3.723385,3.283480,4.012595
1,198967,-0.550695,-0.316541,0.198338,-0.413873,-0.257527,0.154069,0.037859,0.443655,-0.694422,...,0.170765,-35.990650,-1.142565,-2.503250,-0.087476,-0.477760,-1.989846,-0.317365,-1.565638,2.797735
2,261251,-0.718114,-0.202316,-0.054308,0.201210,0.027019,0.127905,-0.027772,0.424997,-0.128802,...,-0.643215,-37.771618,1.175075,0.969148,0.333489,0.962113,-1.082005,-1.598720,0.539585,2.459516
3,55858,-0.648414,-0.317754,-0.011313,-0.135515,-0.056709,-0.620720,-0.187950,0.369419,0.150746,...,-0.619915,-37.266260,3.634115,-1.297000,-0.543611,1.039354,1.997421,1.188681,-3.759528,5.151925
4,292686,-0.829020,0.063603,-0.150531,-0.421938,-0.381597,0.586611,0.142365,0.451762,0.080123,...,3.768349,-42.807090,-3.303645,-2.784447,-3.440042,2.045586,0.596134,-3.239100,-2.976719,3.138070

In [30]:
df3 = pd.read_csv('final_embedded_data_Copy.csv')

In [31]:
new_df = df3[['sample_id', 'Value', 'Unit_grams', 'Unit_ml']]

In [32]:
new_df

       sample_id        Value  Unit_grams  Unit_ml
0          33127  2129.292000           0        1
1         198967   907.184000           1        0
2         261251   323.184300           1        0
3          55858   318.931875           1        0
4         292686    12.000000           0        0
...          ...          ...         ...      ...
74995      41424   340.194000           1        0
74996      35537   100.000000           0        0
74997     249971  2267.960000           1        0
74998     188322    16.000000           0        0
74999     298504    70.023265           1        0

[75000 rows x 4 columns]

In [33]:
merged_df = pd.merge(merged_df, new_df, on='sample_id')

In [34]:
merged_df.to_csv('final_merged_train_data.csv')

In [35]:
merged_df

,AE_1,AE_8,AE_10,AE_11,AE_13,AE_14,AE_15_x,AE_18,AE_20_x,AE_21,...,AE_181,AE_184,AE_187,AE_189,AE_191,AE_198,AE_199,Value,Unit_grams,Unit_ml
0,0.785655,2.187887,6.399189,3.417744,1.446427,12.366049,2.715218,0.810837,3.489325,3.394612,...,2.060318,4.505659,7.431561,9.604703,1.262048,6.819504,2.294831,2129.292000,0,1
1,2.865123,2.287952,7.680586,3.457501,1.606347,9.358660,6.825308,6.101682,5.299642,6.069296,...,5.476419,4.691962,6.856816,0.458965,7.727770,6.414440,3.958019,907.184000,1,0
2,5.843134,3.005817,7.264092,4.950214,5.342916,8.467631,6.864544,5.185027,7.299217,0.000000,...,4.057353,3.742463,5.481276,10.463400,5.083226,8.158071,6.396258,323.184300,1,0
3,2.762823,7.156640,3.464932,4.235404,4.433351,2.779259,0.619565,4.267726,6.217050,2.496200,...,8.458349,3.442083,4.021017,1.823017,5.888297,2.992735,0.996680,318.931875,1,0
4,6.725155,6.012536,2.606085,4.838819,4.124242,14.591412,6.576507,7.324066,4.965705,4.735979,...,2.663159,3.114678,2.836104,2.891103,0.352642,3.483029,4.046131,12.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73127,0.000000,4.488300,6.156115,4.504830,4.131258,6.120499,0.000000,6.390029,6.446274,3.805207,...,0.000000,1.317299,3.279397,2.411227,1.835022,6.529891,4.883349,999.584300,0,1
73128,6.117847,1.647475,3.558297,4.018712,5.487276,0.000000,2.882695,1.718348,0.000000,4.476652,...,4.696447,4.145058,6.353662,5.709607,9.497203,6.885365,0.963912,36.000000,0,0
73129,4.611588,7.131043,6.657225,2.215267,0.663097,10.938791,5.703098,3.735093,7.989169,3.000521,...,1.609682,2.381426,6.059661,1.832118,5.340717,4.453689,5.075788,1419.528000,0,1
73130,6.889124,5.185583,5.212217,3.209433,3.584070,3.988014,2.742423,4.366072,2.123102,7.058281,...,3.845610,5.245067,0.170768,3.679325,6.820364,3.206953,2.745585,119.918385,1,0
73131,3.628395,6.159146,5.471774,8.905475,8.978363,17.403566,1.834963,4.661083,8.181361,2.256317,...,6.834713,4.451289,4.607956,5.549105,5.918246,1.704415,7.289243,24.000000,0,0