In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('compressed_features_vit_test.csv')

In [3]:
df.head()

,Unnamed: 0,AE_1,AE_2,AE_3,AE_4,AE_5,AE_6,AE_7,AE_8,AE_9,...,AE_192,AE_193,AE_194,AE_195,AE_196,AE_197,AE_198,AE_199,AE_200,sample_id
0,0,0.0,0.0,1.397149,0.0,0.646086,1.025450,0.493772,3.620767,1.534802,...,0.0,0.000000,0.0,0.0,0.0,1.496538,0.0,1.792015,0.0,100179
1,1,0.0,0.0,0.689977,0.0,0.000000,0.756143,0.589838,2.481492,3.758845,...,0.0,1.808835,0.0,0.0,0.0,1.061570,0.0,1.937501,0.0,245611
2,2,0.0,0.0,1.447499,0.0,3.478494,0.000000,1.834461,0.619753,0.680872,...,0.0,2.798843,0.0,0.0,0.0,3.832894,0.0,2.607715,0.0,146263
3,3,0.0,0.0,0.568853,0.0,1.202738,2.827896,0.484912,2.481433,0.195400,...,0.0,2.964103,0.0,0.0,0.0,1.719541,0.0,1.706076,0.0,95658
4,4,0.0,0.0,0.407043,0.0,0.906652,1.742686,2.551133,0.816499,0.236509,...,0.0,0.000000,0.0,0.0,0.0,1.260786,0.0,0.678623,0.0,36806

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74998 entries, 0 to 74997
Columns: 202 entries, Unnamed: 0 to sample_id
dtypes: float64(200), int64(2)
memory usage: 115.6 MB

In [5]:
df['Value'].isnull().sum()

KeyError: 'Value'

In [28]:
# 2. Get 'sample_id's where 'Value' is null and store in an array
removed_ids = df[df['Value'].isnull()]['sample_id'].to_numpy()

removed_ids

array([186165, 218503, 238772, 231191,  96295,  59147,  89586, 284687,
        45478,  65103, 226144, 269550,  48402,  70033, 172898, 155498,
       205534, 231006, 205590, 274130,  60017,  31216, 216288,  41932,
       276565,  64584, 161176,  87394, 166121,  85173, 139699,  82808,
       166338,  35685,  90173, 153648,  25830, 201761, 219385,  25414,
       217625, 157880, 222000, 220218, 117150, 268069,  44255, 226852,
       141713, 157240,  74581,  27809, 212626, 101079, 273671,  74138,
        37813, 238851, 230073, 276897, 102319,  74594, 227680,  92799,
         3410,  88700, 162385, 212272, 240151,  43711,  31769,  56206,
       279977, 105231,  35675, 136410, 236464,  10915, 109227, 131553,
        87966,  84473, 286550, 166342,  67935,  14904, 169618, 101292,
       136706, 207108, 122212, 211107, 243868, 166088,  93795,  44345,
       172136, 241610,  55174, 218094, 295341,  38518,  72924, 101479,
        62935, 123389, 281133,  92579, 201908, 205986,  86585,  47724,
        44407, 212709, 162647,  92329, 116466, 155401, 115755, 228918,
       251193, 243751,  83761,  83427, 297601,  50055, 243835, 158697,
       273996, 235869, 125755,  87646,  29313, 281346,  87885, 166026,
        92352,  41466, 124107,  89514, 185256,  45538, 298554, 259080,
       224587,  65960, 101154, 248791, 219745, 162894, 152621,  87807,
       217302, 191734,  88649,  30131, 149672,  51701, 233134, 232253,
        78473, 233279, 102044, 235868,  74122,  80552,  38215, 251456,
        70347, 100972, 286631, 228400, 173871, 226033, 149025, 101138,
       237146, 163129, 125895,  56785, 157281, 157069,  91115, 211632,
        92383, 248615, 167682, 281920, 161173,  60876, 212058,  90163,
       173961, 115936,  87881, 111418, 231657,  44608, 204425,  52196,
       164779, 183171, 238179, 290341, 265385, 256813, 253305, 280157,
         5827,  92370,  53411, 229595, 215395,  55756, 241785,  75017,
        34638, 235120, 171523, 154303,  40040, 259772, 235802,  45661,
       230682,  67304, 129698,  88821, 116755, 100920,  38770,  40304,
        79309,  35111, 137349,  64742, 258091,  25142,  30468,  74985,
       186485,  98397,  12216, 210335,  81906,  76795,  38245, 281161,
        27800, 110399, 216860, 101265, 178338,  48023, 172904, 234023,
       229202, 163081, 227679,  64351,  63098,  57447, 200024, 246826,
       226003, 166718,  79136,  26459,  98084,  36768,  32500,  30537,
        48226, 194117, 162636,  88809, 102827, 259100,  98914, 125456,
       233126,  81935, 157556, 223804, 243399,  42444, 261562, 163848,
       163813, 124623,  97645, 156915, 230685, 246260,  56974, 284914,
       182171, 134304,  87173,  91576,  34211,  87963, 137131,  85492,
        92396, 295883,  54296,   5461, 226047, 237755, 230566, 247622,
       204045, 235345, 274609, 243091, 264355, 240404, 200810, 238490,
       227550,  15995,  16995,  62280, 232719,  64047, 172985,  47974,
       236184, 236937, 204007,  71869,   6317, 210817,  60546,  57908,
       150733,  92572,  92473,  60781, 273249,  83423, 206197, 151369,
       243321, 173872, 204678,  35819, 132529, 243753, 226464,  51555,
        25066,  89698, 220659,  92405, 228183, 101598,  87879, 169843,
        27247, 211329,  78364, 172936, 140538, 209897, 256270, 236161,
       249277, 284943, 278082, 226461, 202581, 204282, 257658,  69978,
        35439,   5810, 192850,  85048,  94765, 172927, 200992, 166699,
       193375, 249607, 226048,  36039, 140722,  92381, 247269,  65962,
       205322, 136363, 205983, 110504, 139717, 251495, 203012, 207191,
       101295,  44324,  76812, 108837, 156565, 235941,  58948,  62769,
        82680, 252952, 130901,  66625, 293923, 101344, 175419,  13130,
       141039, 153485,  41148, 129018,  86684, 135270, 173959, 100527,
       217027, 164743, 185150, 230427, 259273,  25216,  29562, 166395,
       172853, 239963, 166947,  82948, 262150, 275956, 152629,  78357,
       153104,  92361,  98280, 296785, 115654, 164671,  79217, 166716,
       219836, 101289,  70588, 291712,  98877,  74906, 150592, 114644,
        30909,  48275,  27806, 157043, 278737, 237227,  84324,  92809,
       177961, 116149,  87884,  93698, 184929, 101579, 219829, 237515,
       157522, 246053, 114854, 230187, 123228, 172830, 209205, 192916,
       138314, 230208, 153182, 183713,  73841, 166713, 289035, 237264,
       248142, 249440, 211479, 220656, 157379, 282646, 108213,  72737,
       102212, 141817, 272877, 134752, 226020, 151884, 261392, 101071,
       101300,  72297, 166345, 217614,  35259,  74588, 236231, 227937,
        81426,  91427,  74881, 128925, 281513, 134544, 155073, 213031,
       105689,  98555, 136766,  57506,  85145, 243833,   2957,  68196,
         9570, 114819, 215071, 157395,  92336,  15818,  67694, 236479,
        75775,  51548,  67651, 206266, 236167,  45184, 225036, 149648,
       230769, 294006, 212756,  58903, 182467,  88573,  92576, 243582,
       220419, 178177, 282155, 157399, 232701, 295937,  90553, 283941,
       221995, 151951,  82966, 277009, 159933,  28225, 169572, 212256,
        10378,  92371, 220344,  44385, 134925, 201504,  66937,   7202,
       236723, 227929,  74656,  29857,  85823, 186801, 260319, 180369,
       206761, 233273, 221288, 117969, 171801, 210811, 166630, 106988,
        59100, 166032, 168069, 249199, 145396,  42282,  24506, 246640,
        23581,  28744,  67469, 166712, 189882, 209202, 266228,   6583,
       201914,  67688,  92367, 250601,  79263,  75776,  39078, 154383,
       258053,  67400, 118225, 235719,  56774, 229229,  84047, 135172,
       274184,  63323,   7695, 251501, 210816,  80255, 172426, 166690,
        45460, 102088,  92362,  92387, 230226,  63362, 234938, 239059,
       231514,  66981,  91111, 136382,  77391,  80540,  94368, 240463,
       241487, 180058, 270783, 101210,  21546, 166148,  81681,  81023,
       228292, 168826,  62299,  58015, 246620,  87852, 267009, 225533,
        98875, 158953,  80953, 213042, 137986, 237510, 238952, 159120,
       162990, 166715,  66503,  46182, 163805, 211252, 111919,  44916,
       152231, 102250, 228110,  45188,  13881,  62566,  28052,  46269,
       240844, 285940,  24171, 253243, 220353, 163305, 235441, 266226,
       102189,  13389, 176905, 174931,  92777,  23604,  69972, 251500,
        70026, 236182,  98915, 211166,  59423, 247620, 153139,  91662,
       293145, 152714, 210823, 245575,  23250, 118508, 162020,  80873,
       170026, 156918, 253543, 156782, 188461, 189907, 174957, 118726,
        57336, 287674, 269486,  46467, 237703,  72330,  74586, 145310,
       104409,  75941, 210894, 242939, 245092, 101065,  80272,  83365,
        59475, 159608,  70054,  72539, 288722, 203599, 117818,  78390,
       163181, 217631, 281262,  14825, 282513,  38309,  89563,  73393,
        89783, 151066, 211892,  45163,  56604,  92804, 257237,  42817,
        83947, 276567, 172981, 101414,  85491, 245325,  78235, 236229,
       279388, 200904, 117153, 113184, 212427, 166437, 286332, 244212,
        27994, 108848,  74576,  96795, 266230,  72156, 272618, 275351,
       162752,  72759,  39386, 246863, 129080, 255151,  56922,  10123,
        65805,  23904,  95226, 166697, 104009, 288925, 247801, 277691,
        92343, 276940, 151423,  98678, 161815, 298337,  87968,  22375,
        51554, 182657, 117325, 199605,  68158,  74749,  66506,  92394,
       163715,  85700,  58872, 224658, 267586, 219492, 197470,  88941,
        92395, 247996, 230003, 279323, 110460, 161862, 239043,  34599,
       200683,   9093, 163870, 171101, 230267, 199911, 170204, 132315,
        66009,  66641, 166346, 265848, 280238, 148557, 230430, 101161,
        60324, 117944, 266219,  86954, 269223, 134949,  34786, 158100,
        86216, 251177,  88004,  50483, 101054, 206268, 155770, 101301,
        53219, 129276, 123224, 169592, 209056,  92330, 184002,  41673,
        16556,  72047, 200688, 294476, 114570, 286849,  84165, 164077,
       140490, 109441,  26682, 168650, 154386,  66772,  44513,  73126,
        64914,  69704, 251498, 242676, 200808, 228600, 211149, 201461,
       222013, 219579, 105310, 227473,  62197,  42214,   6203,  49475,
         4812, 102224,  57699, 247872, 143215, 210856, 226463,  21358,
        29982, 273935, 101412, 210958, 120237, 163847, 188935, 102198,
       225554,  62984, 216409, 243948, 167668, 140816,  68555,  91062,
       100969, 211093, 236670, 247833])

In [29]:

# 3. Drop the rows with null values
df_cleaned = df.dropna()

# 1. Convert the NumPy array to a pandas DataFrame
removed_df = pd.DataFrame(removed_ids, columns=['sample_id'])

# 2. Save the new DataFrame to a CSV file
# We use index=False to avoid writing the DataFrame index (0, 1, 2...) as a column
removed_df.to_csv('removed_ids.csv', index=False)

In [30]:


print("\nCleaned DataFrame:")
print(df_cleaned)

Cleaned DataFrame:
       sample_id        Value   Unit  \
0          33127  2129.292000     ml
1         198967   907.184000  grams
2         261251   323.184300  grams
3          55858   318.931875  grams
4         292686    12.000000  count
...          ...          ...    ...
74995      41424   340.194000  grams
74996      35537   100.000000  count
74997     249971  2267.960000  grams
74998     188322    16.000000  count
74999     298504    70.023265  grams

                                     Dataset_discription  \
0      La Victoria Green Taco Sauce Mild, 12 Ounce (P...
1      Salerno Cookies, The Original Butter Cookies, ...
2      Bear Creek Hearty Soup Bowl, Creamy Chicken wi...
3      Judee’s Blue Cheese Powder 11.25 oz - Gluten-F...
4      kedem Sherry Cooking Wine, 12.7 Ounce - 12 per...
...                                                  ...
74995  ICE BREAKERS Spearmint Sugar Free Mints Tins, ...
74996  Davidson's Organics, Vanilla Essence, 100-coun...
74997  Jolly Rancher Hard Candy - Blue Raspberry - 5 ...
74998  Nescafe Dolce Gusto Capsules - CARAMEL MACCHIA...
74999  Pimenton de la Vera - Picante (2.47 ounce), No...

                                              image_link   price
0      https://m.media-amazon.com/images/I/51mo8htwTH...   4.890
1      https://m.media-amazon.com/images/I/71YtriIHAA...  13.120
2      https://m.media-amazon.com/images/I/51+PFEe-w-...   1.970
3      https://m.media-amazon.com/images/I/41mu0HAToD...  30.340
4      https://m.media-amazon.com/images/I/41sA037+Qv...  66.490
...                                                  ...     ...
74995  https://m.media-amazon.com/images/I/81p9PcPsff...  10.395
74996  https://m.media-amazon.com/images/I/51DDKoa+mb...  35.920
74997  https://m.media-amazon.com/images/I/91R2XCcpUf...  50.330
74998  https://m.media-amazon.com/images/I/51W40YU98+...  15.275
74999  https://m.media-amazon.com/images/I/81dFnrP6C4...  28.240

[74060 rows x 6 columns]

In [32]:
df_cleaned.to_csv('final_preprocessed_train_data.csv', index=False)