In [10]:
import pandas as pd
import numpy as np

# --- Setup for Example ---
# Create a sample "final" DataFrame
final_df = pd.read_csv('vit_compressed.csv')

# Create a sample DataFrame representing your "removed_ids.csv"
ids_to_remove_df = pd.read_csv('removed_ids.csv')
# -------------------------


# 2. Get the list of IDs to remove from the DataFrame
ids_list = ids_to_remove_df['sample_id'].tolist()

# 3. Filter the 'final_df' to keep only rows whose 'sample_id' is NOT in the list
df = final_df[~final_df['sample_id'].isin(ids_list)]


# --- Display the results ---
print("Original 'final' DataFrame:")
print(final_df)

Original 'final' DataFrame:
       Unnamed: 0  AE_1      AE_2  AE_3  AE_4       AE_5  AE_6  AE_7  AE_8  \
0               0   0.0  5.757127   0.0   0.0   7.221293   0.0   0.0   0.0
1               1   0.0  6.822809   0.0   0.0   4.855610   0.0   0.0   0.0
2               2   0.0  5.067913   0.0   0.0   4.362028   0.0   0.0   0.0
3               3   0.0  9.999098   0.0   0.0   2.068369   0.0   0.0   0.0
4               4   0.0  3.030200   0.0   0.0  10.457285   0.0   0.0   0.0
...           ...   ...       ...   ...   ...        ...   ...   ...   ...
76078       76078   0.0  7.379260   0.0   0.0   5.895375   0.0   0.0   0.0
76079       76079   0.0  5.733422   0.0   0.0   5.953198   0.0   0.0   0.0
76080       76080   0.0  1.851457   0.0   0.0   9.030890   0.0   0.0   0.0
76081       76081   0.0  7.080502   0.0   0.0   2.579115   0.0   0.0   0.0
76082       76082   0.0  5.752820   0.0   0.0   5.564527   0.0   0.0   0.0

       AE_9  ...  AE_192  AE_193  AE_194  AE_195  AE_196  AE_197    AE_198  \
0       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.819504
1       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.414440
2       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  8.158071
3       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.992735
4       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.483029
...     ...  ...     ...     ...     ...     ...     ...     ...       ...
76078   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.021072
76079   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.014749
76080   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.731852
76081   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.568940
76082   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.376318

         AE_199  AE_200  sample_id
0      2.294831     0.0      33127
1      3.958019     0.0     198967
2      6.396258     0.0     261251
3      0.996680     0.0      55858
4      4.046131     0.0     292686
...         ...     ...        ...
76078  2.671479     0.0      41424
76079  5.144578     0.0      35537
76080  9.585409     0.0     249971
76081  5.642931     0.0     188322
76082  2.258754     0.0     298504

[76083 rows x 202 columns]

In [11]:
print("\nSample IDs to remove:")
print(ids_list)

Sample IDs to remove:
[186165, 218503, 238772, 231191, 96295, 59147, 89586, 284687, 45478, 65103, 226144, 269550, 48402, 70033, 172898, 155498, 205534, 231006, 205590, 274130, 60017, 31216, 216288, 41932, 276565, 64584, 161176, 87394, 166121, 85173, 139699, 82808, 166338, 35685, 90173, 153648, 25830, 201761, 219385, 25414, 217625, 157880, 222000, 220218, 117150, 268069, 44255, 226852, 141713, 157240, 74581, 27809, 212626, 101079, 273671, 74138, 37813, 238851, 230073, 276897, 102319, 74594, 227680, 92799, 3410, 88700, 162385, 212272, 240151, 43711, 31769, 56206, 279977, 105231, 35675, 136410, 236464, 10915, 109227, 131553, 87966, 84473, 286550, 166342, 67935, 14904, 169618, 101292, 136706, 207108, 122212, 211107, 243868, 166088, 93795, 44345, 172136, 241610, 55174, 218094, 295341, 38518, 72924, 101479, 62935, 123389, 281133, 92579, 201908, 205986, 86585, 47724, 44407, 212709, 162647, 92329, 116466, 155401, 115755, 228918, 251193, 243751, 83761, 83427, 297601, 50055, 243835, 158697, 273996, 235869, 125755, 87646, 29313, 281346, 87885, 166026, 92352, 41466, 124107, 89514, 185256, 45538, 298554, 259080, 224587, 65960, 101154, 248791, 219745, 162894, 152621, 87807, 217302, 191734, 88649, 30131, 149672, 51701, 233134, 232253, 78473, 233279, 102044, 235868, 74122, 80552, 38215, 251456, 70347, 100972, 286631, 228400, 173871, 226033, 149025, 101138, 237146, 163129, 125895, 56785, 157281, 157069, 91115, 211632, 92383, 248615, 167682, 281920, 161173, 60876, 212058, 90163, 173961, 115936, 87881, 111418, 231657, 44608, 204425, 52196, 164779, 183171, 238179, 290341, 265385, 256813, 253305, 280157, 5827, 92370, 53411, 229595, 215395, 55756, 241785, 75017, 34638, 235120, 171523, 154303, 40040, 259772, 235802, 45661, 230682, 67304, 129698, 88821, 116755, 100920, 38770, 40304, 79309, 35111, 137349, 64742, 258091, 25142, 30468, 74985, 186485, 98397, 12216, 210335, 81906, 76795, 38245, 281161, 27800, 110399, 216860, 101265, 178338, 48023, 172904, 234023, 229202, 163081, 227679, 64351, 63098, 57447, 200024, 246826, 226003, 166718, 79136, 26459, 98084, 36768, 32500, 30537, 48226, 194117, 162636, 88809, 102827, 259100, 98914, 125456, 233126, 81935, 157556, 223804, 243399, 42444, 261562, 163848, 163813, 124623, 97645, 156915, 230685, 246260, 56974, 284914, 182171, 134304, 87173, 91576, 34211, 87963, 137131, 85492, 92396, 295883, 54296, 5461, 226047, 237755, 230566, 247622, 204045, 235345, 274609, 243091, 264355, 240404, 200810, 238490, 227550, 15995, 16995, 62280, 232719, 64047, 172985, 47974, 236184, 236937, 204007, 71869, 6317, 210817, 60546, 57908, 150733, 92572, 92473, 60781, 273249, 83423, 206197, 151369, 243321, 173872, 204678, 35819, 132529, 243753, 226464, 51555, 25066, 89698, 220659, 92405, 228183, 101598, 87879, 169843, 27247, 211329, 78364, 172936, 140538, 209897, 256270, 236161, 249277, 284943, 278082, 226461, 202581, 204282, 257658, 69978, 35439, 5810, 192850, 85048, 94765, 172927, 200992, 166699, 193375, 249607, 226048, 36039, 140722, 92381, 247269, 65962, 205322, 136363, 205983, 110504, 139717, 251495, 203012, 207191, 101295, 44324, 76812, 108837, 156565, 235941, 58948, 62769, 82680, 252952, 130901, 66625, 293923, 101344, 175419, 13130, 141039, 153485, 41148, 129018, 86684, 135270, 173959, 100527, 217027, 164743, 185150, 230427, 259273, 25216, 29562, 166395, 172853, 239963, 166947, 82948, 262150, 275956, 152629, 78357, 153104, 92361, 98280, 296785, 115654, 164671, 79217, 166716, 219836, 101289, 70588, 291712, 98877, 74906, 150592, 114644, 30909, 48275, 27806, 157043, 278737, 237227, 84324, 92809, 177961, 116149, 87884, 93698, 184929, 101579, 219829, 237515, 157522, 246053, 114854, 230187, 123228, 172830, 209205, 192916, 138314, 230208, 153182, 183713, 73841, 166713, 289035, 237264, 248142, 249440, 211479, 220656, 157379, 282646, 108213, 72737, 102212, 141817, 272877, 134752, 226020, 151884, 261392, 101071, 101300, 72297, 166345, 217614, 35259, 74588, 236231, 227937, 81426, 91427, 74881, 128925, 281513, 134544, 155073, 213031, 105689, 98555, 136766, 57506, 85145, 243833, 2957, 68196, 9570, 114819, 215071, 157395, 92336, 15818, 67694, 236479, 75775, 51548, 67651, 206266, 236167, 45184, 225036, 149648, 230769, 294006, 212756, 58903, 182467, 88573, 92576, 243582, 220419, 178177, 282155, 157399, 232701, 295937, 90553, 283941, 221995, 151951, 82966, 277009, 159933, 28225, 169572, 212256, 10378, 92371, 220344, 44385, 134925, 201504, 66937, 7202, 236723, 227929, 74656, 29857, 85823, 186801, 260319, 180369, 206761, 233273, 221288, 117969, 171801, 210811, 166630, 106988, 59100, 166032, 168069, 249199, 145396, 42282, 24506, 246640, 23581, 28744, 67469, 166712, 189882, 209202, 266228, 6583, 201914, 67688, 92367, 250601, 79263, 75776, 39078, 154383, 258053, 67400, 118225, 235719, 56774, 229229, 84047, 135172, 274184, 63323, 7695, 251501, 210816, 80255, 172426, 166690, 45460, 102088, 92362, 92387, 230226, 63362, 234938, 239059, 231514, 66981, 91111, 136382, 77391, 80540, 94368, 240463, 241487, 180058, 270783, 101210, 21546, 166148, 81681, 81023, 228292, 168826, 62299, 58015, 246620, 87852, 267009, 225533, 98875, 158953, 80953, 213042, 137986, 237510, 238952, 159120, 162990, 166715, 66503, 46182, 163805, 211252, 111919, 44916, 152231, 102250, 228110, 45188, 13881, 62566, 28052, 46269, 240844, 285940, 24171, 253243, 220353, 163305, 235441, 266226, 102189, 13389, 176905, 174931, 92777, 23604, 69972, 251500, 70026, 236182, 98915, 211166, 59423, 247620, 153139, 91662, 293145, 152714, 210823, 245575, 23250, 118508, 162020, 80873, 170026, 156918, 253543, 156782, 188461, 189907, 174957, 118726, 57336, 287674, 269486, 46467, 237703, 72330, 74586, 145310, 104409, 75941, 210894, 242939, 245092, 101065, 80272, 83365, 59475, 159608, 70054, 72539, 288722, 203599, 117818, 78390, 163181, 217631, 281262, 14825, 282513, 38309, 89563, 73393, 89783, 151066, 211892, 45163, 56604, 92804, 257237, 42817, 83947, 276567, 172981, 101414, 85491, 245325, 78235, 236229, 279388, 200904, 117153, 113184, 212427, 166437, 286332, 244212, 27994, 108848, 74576, 96795, 266230, 72156, 272618, 275351, 162752, 72759, 39386, 246863, 129080, 255151, 56922, 10123, 65805, 23904, 95226, 166697, 104009, 288925, 247801, 277691, 92343, 276940, 151423, 98678, 161815, 298337, 87968, 22375, 51554, 182657, 117325, 199605, 68158, 74749, 66506, 92394, 163715, 85700, 58872, 224658, 267586, 219492, 197470, 88941, 92395, 247996, 230003, 279323, 110460, 161862, 239043, 34599, 200683, 9093, 163870, 171101, 230267, 199911, 170204, 132315, 66009, 66641, 166346, 265848, 280238, 148557, 230430, 101161, 60324, 117944, 266219, 86954, 269223, 134949, 34786, 158100, 86216, 251177, 88004, 50483, 101054, 206268, 155770, 101301, 53219, 129276, 123224, 169592, 209056, 92330, 184002, 41673, 16556, 72047, 200688, 294476, 114570, 286849, 84165, 164077, 140490, 109441, 26682, 168650, 154386, 66772, 44513, 73126, 64914, 69704, 251498, 242676, 200808, 228600, 211149, 201461, 222013, 219579, 105310, 227473, 62197, 42214, 6203, 49475, 4812, 102224, 57699, 247872, 143215, 210856, 226463, 21358, 29982, 273935, 101412, 210958, 120237, 163847, 188935, 102198, 225554, 62984, 216409, 243948, 167668, 140816, 68555, 91062, 100969, 211093, 236670, 247833]

In [12]:

print("\nDataFrame after removing rows:")
print(df)

DataFrame after removing rows:
       Unnamed: 0  AE_1      AE_2  AE_3  AE_4       AE_5  AE_6  AE_7  AE_8  \
0               0   0.0  5.757127   0.0   0.0   7.221293   0.0   0.0   0.0
1               1   0.0  6.822809   0.0   0.0   4.855610   0.0   0.0   0.0
2               2   0.0  5.067913   0.0   0.0   4.362028   0.0   0.0   0.0
3               3   0.0  9.999098   0.0   0.0   2.068369   0.0   0.0   0.0
4               4   0.0  3.030200   0.0   0.0  10.457285   0.0   0.0   0.0
...           ...   ...       ...   ...   ...        ...   ...   ...   ...
76078       76078   0.0  7.379260   0.0   0.0   5.895375   0.0   0.0   0.0
76079       76079   0.0  5.733422   0.0   0.0   5.953198   0.0   0.0   0.0
76080       76080   0.0  1.851457   0.0   0.0   9.030890   0.0   0.0   0.0
76081       76081   0.0  7.080502   0.0   0.0   2.579115   0.0   0.0   0.0
76082       76082   0.0  5.752820   0.0   0.0   5.564527   0.0   0.0   0.0

       AE_9  ...  AE_192  AE_193  AE_194  AE_195  AE_196  AE_197    AE_198  \
0       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.819504
1       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.414440
2       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  8.158071
3       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.992735
4       0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.483029
...     ...  ...     ...     ...     ...     ...     ...     ...       ...
76078   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.021072
76079   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  2.014749
76080   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  6.731852
76081   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  3.568940
76082   0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0  5.376318

         AE_199  AE_200  sample_id
0      2.294831     0.0      33127
1      3.958019     0.0     198967
2      6.396258     0.0     261251
3      0.996680     0.0      55858
4      4.046131     0.0     292686
...         ...     ...        ...
76078  2.671479     0.0      41424
76079  5.144578     0.0      35537
76080  9.585409     0.0     249971
76081  5.642931     0.0     188322
76082  2.258754     0.0     298504

[75128 rows x 202 columns]

In [3]:
import pandas as pd
import numpy as np
df= pd.read_csv('compressed_features_vit_test.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74998 entries, 0 to 74997
Columns: 202 entries, Unnamed: 0 to sample_id
dtypes: float64(200), int64(2)
memory usage: 115.6 MB

In [4]:
df.shape

(74998, 202)

In [5]:
df.describe()

,Unnamed: 0,AE_1,AE_2,AE_3,AE_4,AE_5,AE_6,AE_7,AE_8,AE_9,...,AE_192,AE_193,AE_194,AE_195,AE_196,AE_197,AE_198,AE_199,AE_200,sample_id
count,74998.000000,74998.0,74998.0,74998.000000,74998.0,74998.000000,74998.000000,74998.000000,74998.000000,74998.000000,...,74998.0,74998.000000,74998.0,74998.0,74998.0,74998.000000,74998.0,74998.000000,74998.0,74998.000000
mean,37498.500000,0.0,0.0,1.536679,0.0,1.601945,1.457651,1.778773,2.147720,1.797534,...,0.0,1.509592,0.0,0.0,0.0,1.435497,0.0,1.499522,0.0,149386.904691
std,21650.202081,0.0,0.0,0.906960,0.0,0.904239,0.846550,1.013532,1.371489,1.226827,...,0.0,0.932268,0.0,0.0,0.0,0.900104,0.0,0.889171,0.0,86762.840877
min,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,1.000000
25%,18749.250000,0.0,0.0,0.871407,0.0,0.932278,0.821577,1.013794,1.066177,0.863050,...,0.0,0.811219,0.0,0.0,0.0,0.795937,0.0,0.859700,0.0,73759.500000
50%,37498.500000,0.0,0.0,1.465010,0.0,1.539570,1.400173,1.678129,2.020346,1.648776,...,0.0,1.441728,0.0,0.0,0.0,1.369320,0.0,1.442884,0.0,149109.500000
75%,56247.750000,0.0,0.0,2.113168,0.0,2.179914,2.014852,2.414348,3.095420,2.561631,...,0.0,2.099669,0.0,0.0,0.0,1.988477,0.0,2.055267,0.0,224527.750000
max,74997.000000,0.0,0.0,6.870192,0.0,5.845652,5.728088,7.243131,7.643825,7.275299,...,0.0,6.906967,0.0,0.0,0.0,6.516393,0.0,6.380921,0.0,299439.000000

In [6]:
for column in df.columns:
    print(f"--- Value Counts for column: {column} ---")
    print(df[column].value_counts())
    print() # Adds a blank line for readability

--- Value Counts for column: Unnamed: 0 ---
Unnamed: 0
74997    1
0        1
1        1
2        1
3        1
        ..
10       1
9        1
8        1
7        1
6        1
Name: count, Length: 74998, dtype: int64

--- Value Counts for column: AE_1 ---
AE_1
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_2 ---
AE_2
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_3 ---
AE_3
0.000000    1767
2.137774      45
1.372242      15
0.982766      11
1.905612       9
            ...
1.637037       1
1.729188       1
2.175291       1
0.302407       1
0.568853       1
Name: count, Length: 70390, dtype: int64

--- Value Counts for column: AE_4 ---
AE_4
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_5 ---
AE_5
0.000000    1635
0.484805      45
2.254485      15
1.040951      11
1.158749       9
            ...
1.891198       1
0.751831       1
0.296276       1
1.389826       1
3.135645       1
Name: count, Length: 70529, dtype: int64

--- Value Counts for column: AE_6 ---
AE_6
0.000000    2221
2.297726      45
0.632508      15
0.427754      11
3.957912       9
            ...
1.684411       1
2.430960       1
0.443811       1
1.689402       1
1.150144       1
Name: count, Length: 69966, dtype: int64

--- Value Counts for column: AE_7 ---
AE_7
0.000000    1456
1.619442      45
1.941350      15
1.257777      11
1.215676       9
            ...
2.199352       1
3.656540       1
0.617109       1
3.268412       1
1.998622       1
Name: count, Length: 70718, dtype: int64

--- Value Counts for column: AE_8 ---
AE_8
0.000000    2370
1.352352       9
0.513183       9
1.413113       8
3.753555       8
            ...
3.269300       1
3.417744       1
4.251575       1
0.313097       1
2.531115       1
Name: count, Length: 69959, dtype: int64

--- Value Counts for column: AE_9 ---
AE_9
0.000000    3028
1.334464      45
3.779574      15
2.050821      11
2.172301       9
            ...
1.549290       1
1.587681       1
0.138025       1
0.559877       1
0.195400       1
Name: count, Length: 69260, dtype: int64

--- Value Counts for column: AE_10 ---
AE_10
0.000000    7008
0.634560      45
1.824521      15
0.228644      11
1.073180       9
            ...
0.861354       1
1.259113       1
0.463368       1
1.390949       1
2.106387       1
Name: count, Length: 65526, dtype: int64

--- Value Counts for column: AE_11 ---
AE_11
0.000000    6893
2.492788      45
1.653088      15
2.453915       9
0.818951       9
            ...
1.349819       1
1.016488       1
0.070495       1
0.806424       1
0.870047       1
Name: count, Length: 65770, dtype: int64

--- Value Counts for column: AE_12 ---
AE_12
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_13 ---
AE_13
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_14 ---
AE_14
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_15 ---
AE_15
0.000000    1869
0.109821      45
2.857372      15
3.395916      11
2.285882       9
            ...
2.092038       1
0.428348       1
2.568777       1
0.641327       1
3.924089       1
Name: count, Length: 70346, dtype: int64

--- Value Counts for column: AE_16 ---
AE_16
0.000000    4966
3.404197      45
1.935481      15
1.249811      11
0.774686       9
            ...
0.775686       1
1.791978       1
1.868715       1
0.337563       1
1.940428       1
Name: count, Length: 67509, dtype: int64

--- Value Counts for column: AE_17 ---
AE_17
0.000000    2849
0.957197      45
0.333645      11
0.978841       9
1.492063       9
            ...
2.702949       1
2.461490       1
0.059477       1
0.558633       1
2.332035       1
Name: count, Length: 69402, dtype: int64

--- Value Counts for column: AE_18 ---
AE_18
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_19 ---
AE_19
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_20 ---
AE_20
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_21 ---
AE_21
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_22 ---
AE_22
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_23 ---
AE_23
0.000000    858
0.952546     45
1.603186     15
0.929806     11
0.418407      9
           ...
1.851854      1
1.164087      1
0.147237      1
2.187094      1
1.367687      1
Name: count, Length: 71267, dtype: int64

--- Value Counts for column: AE_24 ---
AE_24
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_25 ---
AE_25
0.000000    2941
1.533476      45
2.497107      15
0.342462      11
2.087929       9
            ...
1.079139       1
0.260889       1
1.615932       1
0.109127       1
2.820483       1
Name: count, Length: 69296, dtype: int64

--- Value Counts for column: AE_26 ---
AE_26
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_27 ---
AE_27
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_28 ---
AE_28
0.000000    2446
1.537624      45
1.605657      15
1.486993       9
2.085817       9
            ...
0.086389       1
1.899679       1
1.859673       1
2.171828       1
1.490886       1
Name: count, Length: 69802, dtype: int64

--- Value Counts for column: AE_29 ---
AE_29
0.000000    2283
1.981494      45
2.999314      15
0.347094      11
1.066070       9
            ...
1.417071       1
2.743713       1
2.097218       1
0.256020       1
3.800711       1
Name: count, Length: 69928, dtype: int64

--- Value Counts for column: AE_30 ---
AE_30
0.000000    4448
1.643437      45
1.390216      11
1.240477       9
0.960297       9
            ...
2.875833       1
2.356159       1
0.013873       1
2.446868       1
1.585894       1
Name: count, Length: 68002, dtype: int64

--- Value Counts for column: AE_31 ---
AE_31
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_32 ---
AE_32
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_33 ---
AE_33
0.000000    6479
2.169574      45
2.731729      15
1.134424      11
3.358845       9
            ...
0.893812       1
2.863860       1
1.457591       1
1.311512       1
0.677730       1
Name: count, Length: 66041, dtype: int64

--- Value Counts for column: AE_34 ---
AE_34
0.000000    716
0.788992     45
3.505824     15
2.489168     11
1.402172      9
           ...
3.082852      1
1.852902      1
0.389270      1
3.593622      1
3.149407      1
Name: count, Length: 71368, dtype: int64

--- Value Counts for column: AE_35 ---
AE_35
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_36 ---
AE_36
0.000000    1386
1.915140      45
0.413831      15
1.670217      11
0.067966       9
            ...
1.258674       1
0.740916       1
0.641608       1
2.131339       1
2.016180       1
Name: count, Length: 70737, dtype: int64

--- Value Counts for column: AE_37 ---
AE_37
0.000000    1739
2.253734      45
1.483907      11
1.155206       9
1.698227       9
            ...
3.298846       1
0.586766       1
0.274984       1
1.377133       1
1.118087       1
Name: count, Length: 70466, dtype: int64

--- Value Counts for column: AE_38 ---
AE_38
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_39 ---
AE_39
0.000000    3785
1.032640      45
1.129372      15
1.764728      11
1.591629       9
            ...
3.189673       1
0.173035       1
0.110630       1
2.487961       1
2.739194       1
Name: count, Length: 68596, dtype: int64

--- Value Counts for column: AE_40 ---
AE_40
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_41 ---
AE_41
0.000000    1927
1.582329      45
2.024004      15
2.490003      11
1.129555       9
            ...
1.979375       1
1.031886       1
0.404182       1
1.081981       1
0.679425       1
Name: count, Length: 70239, dtype: int64

--- Value Counts for column: AE_42 ---
AE_42
0.000000    3277
0.846084      45
1.539700      11
0.884610       9
1.576111       9
            ...
3.244535       1
1.778880       1
4.512454       1
0.291837       1
2.132693       1
Name: count, Length: 69024, dtype: int64

--- Value Counts for column: AE_43 ---
AE_43
0.000000    5620
1.455553      45
1.949783      15
0.936358      11
1.746554       9
            ...
0.834958       1
0.853137       1
0.308625       1
1.173771       1
1.680460       1
Name: count, Length: 66905, dtype: int64

--- Value Counts for column: AE_44 ---
AE_44
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_45 ---
AE_45
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_46 ---
AE_46
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_47 ---
AE_47
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_48 ---
AE_48
0.000000    2532
0.425395      45
1.156133      15
1.938743      11
2.335171       9
            ...
0.504921       1
2.750239       1
2.559597       1
5.238039       1
2.896296       1
Name: count, Length: 69701, dtype: int64

--- Value Counts for column: AE_49 ---
AE_49
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_50 ---
AE_50
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_51 ---
AE_51
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_52 ---
AE_52
0.000000    6140
1.066423      45
1.566214      15
1.355032      11
0.306939       9
            ...
1.139297       1
2.198987       1
2.048995       1
2.987309       1
0.429627       1
Name: count, Length: 66327, dtype: int64

--- Value Counts for column: AE_53 ---
AE_53
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_54 ---
AE_54
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_55 ---
AE_55
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_56 ---
AE_56
0.000000    2257
1.722890      45
2.829968      15
2.304873      11
2.591881       9
            ...
2.403892       1
2.481904       1
0.046932       1
0.343418       1
1.502359       1
Name: count, Length: 70036, dtype: int64

--- Value Counts for column: AE_57 ---
AE_57
0.000000    1495
1.519271      45
1.552986      15
0.070535      11
2.514837       9
            ...
1.863945       1
1.137642       1
1.847614       1
0.300357       1
0.032808       1
Name: count, Length: 70646, dtype: int64

--- Value Counts for column: AE_58 ---
AE_58
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_59 ---
AE_59
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_60 ---
AE_60
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_61 ---
AE_61
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_62 ---
AE_62
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_63 ---
AE_63
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_64 ---
AE_64
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_65 ---
AE_65
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_66 ---
AE_66
0.000000    4478
0.373277      45
0.937264      15
0.194322      11
2.654929       9
            ...
2.202295       1
1.140348       1
0.040018       1
0.606454       1
0.907367       1
Name: count, Length: 67900, dtype: int64

--- Value Counts for column: AE_67 ---
AE_67
0.000000    2594
1.360159      45
2.613219      15
0.918280      11
2.231197       9
            ...
1.844542       1
1.923765       1
0.348524       1
1.870283       1
1.275991       1
Name: count, Length: 69634, dtype: int64

--- Value Counts for column: AE_68 ---
AE_68
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_69 ---
AE_69
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_70 ---
AE_70
0.000000    3589
1.488688      45
3.109009      15
1.424408      11
3.440002       9
            ...
0.415167       1
1.229535       1
0.556968       1
1.526955       1
2.638615       1
Name: count, Length: 68780, dtype: int64

--- Value Counts for column: AE_71 ---
AE_71
0.000000    2078
1.509069      45
0.690841      15
1.888451      11
2.358444       9
            ...
0.230916       1
0.459589       1
1.820938       1
0.111801       1
3.737829       1
Name: count, Length: 70132, dtype: int64

--- Value Counts for column: AE_72 ---
AE_72
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_73 ---
AE_73
0.000000    2439
1.225307      45
1.758083      15
0.561118       9
0.573064       9
            ...
1.414682       1
1.569893       1
1.504051       1
0.790260       1
0.692613       1
Name: count, Length: 69821, dtype: int64

--- Value Counts for column: AE_74 ---
AE_74
0.000000    2452
1.942374      45
1.491547      11
3.525260       9
2.258779       9
            ...
1.306959       1
1.820692       1
1.020396       1
1.077821       1
2.658562       1
Name: count, Length: 69738, dtype: int64

--- Value Counts for column: AE_75 ---
AE_75
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_76 ---
AE_76
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_77 ---
AE_77
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_78 ---
AE_78
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_79 ---
AE_79
0.000000    1529
2.214005      45
1.438634      15
0.755943      11
2.100834       9
            ...
2.972014       1
1.419072       1
3.476720       1
1.125367       1
0.484935       1
Name: count, Length: 70658, dtype: int64

--- Value Counts for column: AE_80 ---
AE_80
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_81 ---
AE_81
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_82 ---
AE_82
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_83 ---
AE_83
0.000000    3040
1.289803      45
1.400031      15
2.152903       9
3.931543       9
            ...
1.111223       1
1.069846       1
3.007666       1
0.104135       1
2.055585       1
Name: count, Length: 69250, dtype: int64

--- Value Counts for column: AE_84 ---
AE_84
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_85 ---
AE_85
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_86 ---
AE_86
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_87 ---
AE_87
0.000000    5997
0.978586      15
0.193020      11
0.172093       9
2.118672       9
            ...
1.568687       1
0.337920       1
1.046579       1
1.113654       1
0.940835       1
Name: count, Length: 66579, dtype: int64

--- Value Counts for column: AE_88 ---
AE_88
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_89 ---
AE_89
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_90 ---
AE_90
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_91 ---
AE_91
0.000000    4026
1.398321      45
1.143377      11
0.992050       9
0.748907       9
            ...
0.981059       1
2.312389       1
0.148238       1
1.411766       1
1.199769       1
Name: count, Length: 68266, dtype: int64

--- Value Counts for column: AE_92 ---
AE_92
0.000000    3122
0.659698      45
2.115899      15
1.050052       9
1.728535       9
            ...
0.980188       1
0.393408       1
0.271988       1
1.570683       1
1.405908       1
Name: count, Length: 69131, dtype: int64

--- Value Counts for column: AE_93 ---
AE_93
0.000000    4595
1.003182      45
0.871192      15
1.155143       9
1.787094       9
            ...
2.007311       1
0.472865       1
0.578635       1
1.982554       1
2.067629       1
Name: count, Length: 67904, dtype: int64

--- Value Counts for column: AE_94 ---
AE_94
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_95 ---
AE_95
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_96 ---
AE_96
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_97 ---
AE_97
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_98 ---
AE_98
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_99 ---
AE_99
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_100 ---
AE_100
0.000000    1755
0.873260      45
2.293981      15
1.118568      11
1.330410       9
            ...
2.007482       1
1.383356       1
1.283287       1
0.469595       1
3.484129       1
Name: count, Length: 70429, dtype: int64

--- Value Counts for column: AE_101 ---
AE_101
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_102 ---
AE_102
0.000000    4169
0.102579      45
1.322399      15
2.937733      11
0.959174       9
            ...
3.383618       1
1.992398       1
1.100451       1
0.516134       1
0.387880       1
Name: count, Length: 68126, dtype: int64

--- Value Counts for column: AE_103 ---
AE_103
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_104 ---
AE_104
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_105 ---
AE_105
0.000000    2462
0.807172      45
1.835200      15
1.747658      11
0.002655       9
            ...
1.195565       1
4.302729       1
0.375042       1
0.080108       1
2.087013       1
Name: count, Length: 69759, dtype: int64

--- Value Counts for column: AE_106 ---
AE_106
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_107 ---
AE_107
0.000000    4184
2.762033      45
2.188521      15
2.122012      11
0.993566       9
            ...
0.404556       1
2.700738       1
1.611371       1
2.603018       1
3.000879       1
Name: count, Length: 68246, dtype: int64

--- Value Counts for column: AE_108 ---
AE_108
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_109 ---
AE_109
0.000000    1207
1.093897      45
1.516737      15
2.779330      11
1.749809       9
            ...
2.398227       1
1.927623       1
0.082694       1
1.083445       1
0.585104       1
Name: count, Length: 70959, dtype: int64

--- Value Counts for column: AE_110 ---
AE_110
0.000000    2290
1.772355      45
0.836573      15
1.797372       9
0.412933       9
            ...
1.163829       1
1.288158       1
3.120331       1
0.246649       1
1.635087       1
Name: count, Length: 69951, dtype: int64

--- Value Counts for column: AE_111 ---
AE_111
0.000000    2548
1.401033      45
1.975775      15
1.590127      11
2.461372       9
            ...
1.140118       1
2.797894       1
0.445523       1
1.892941       1
1.592996       1
Name: count, Length: 69656, dtype: int64

--- Value Counts for column: AE_112 ---
AE_112
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_113 ---
AE_113
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_114 ---
AE_114
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_115 ---
AE_115
0.000000    4945
0.474570      45
0.224482      11
1.948725       9
1.720339       9
            ...
0.333321       1
2.649148       1
1.469552       1
0.681777       1
0.662370       1
Name: count, Length: 67516, dtype: int64

--- Value Counts for column: AE_116 ---
AE_116
0.000000    5890
0.659348      45
2.498439      15
0.441527      11
0.419027       9
            ...
1.021422       1
1.530050       1
1.492882       1
2.457290       1
1.728669       1
Name: count, Length: 66501, dtype: int64

--- Value Counts for column: AE_117 ---
AE_117
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_118 ---
AE_118
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_119 ---
AE_119
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_120 ---
AE_120
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_121 ---
AE_121
0.0    74998
Name: count, dtype: int64

--- Value Counts for column: AE_122 ---
AE_122
0.000000    4242
0.396245      45
0.252193      15
0.929318       9
1.457815       9
            ...
1.509927       1
1.661337       1
0.906678       1
1.873619       1
2.914719       1
Name: count, Length: 68255, dtype: int64


In [9]:
# 2. Identify columns with only one unique value
# We use a list comprehension to build a list of columns to drop.
cols_to_drop = [col for col in df.columns if df[col].nunique() == 1]

len(cols_to_drop)

115

In [10]:
print(f"\nColumns to drop: {cols_to_drop}")

Columns to drop: ['AE_1', 'AE_2', 'AE_4', 'AE_12', 'AE_13', 'AE_14', 'AE_18', 'AE_19', 'AE_20', 'AE_21', 'AE_22', 'AE_24', 'AE_26', 'AE_27', 'AE_31', 'AE_32', 'AE_35', 'AE_38', 'AE_40', 'AE_44', 'AE_45', 'AE_46', 'AE_47', 'AE_49', 'AE_50', 'AE_51', 'AE_53', 'AE_54', 'AE_55', 'AE_58', 'AE_59', 'AE_60', 'AE_61', 'AE_62', 'AE_63', 'AE_64', 'AE_65', 'AE_68', 'AE_69', 'AE_72', 'AE_75', 'AE_76', 'AE_77', 'AE_78', 'AE_80', 'AE_81', 'AE_82', 'AE_84', 'AE_85', 'AE_86', 'AE_88', 'AE_89', 'AE_90', 'AE_94', 'AE_95', 'AE_96', 'AE_97', 'AE_98', 'AE_99', 'AE_101', 'AE_103', 'AE_104', 'AE_106', 'AE_108', 'AE_112', 'AE_113', 'AE_114', 'AE_117', 'AE_118', 'AE_119', 'AE_120', 'AE_121', 'AE_123', 'AE_125', 'AE_126', 'AE_127', 'AE_128', 'AE_129', 'AE_131', 'AE_133', 'AE_134', 'AE_137', 'AE_139', 'AE_141', 'AE_143', 'AE_144', 'AE_146', 'AE_147', 'AE_148', 'AE_150', 'AE_151', 'AE_153', 'AE_155', 'AE_157', 'AE_158', 'AE_160', 'AE_161', 'AE_163', 'AE_165', 'AE_167', 'AE_168', 'AE_172', 'AE_173', 'AE_176', 'AE_180', 'AE_181', 'AE_185', 'AE_189', 'AE_191', 'AE_192', 'AE_194', 'AE_195', 'AE_196', 'AE_198', 'AE_200']

In [22]:

# 3. Drop the identified columns from the DataFrame
df_cleaned = df.drop(columns=cols_to_drop)

print("\nCleaned DataFrame:")
print(df_cleaned)

Cleaned DataFrame:
       Unnamed: 0      AE_2       AE_5     AE_15      AE_17     AE_20  \
0               0  5.757127   7.221293  3.635454   2.897849  7.894290
1               1  6.822809   4.855610  4.841076   4.996041  4.430372
2               2  5.067913   4.362028  4.281508   1.519393  0.000000
3               3  9.999098   2.068369  5.782341   6.131246  5.751997
4               4  3.030200  10.457285  2.528768   0.000000  6.575437
...           ...       ...        ...       ...        ...       ...
76078       76078  7.379260   5.895375  5.172736   4.785236  3.229356
76079       76079  5.733422   5.953198  1.391989   1.989073  3.763212
76080       76080  1.851457   9.030890  0.866502   3.699343  5.250681
76081       76081  7.080502   2.579115  1.929684   7.167837  5.450599
76082       76082  5.752820   5.564527  3.176674  10.266288  8.361842

           AE_23     AE_26      AE_30     AE_32  ...    AE_169  AE_172  \
0       4.506068  2.356523  11.933986  0.462262  ...  5.034784     0.0
1       4.322799  3.083270   2.389127  2.884340  ...  6.747530     0.0
2       3.130606  1.192615  12.116302  2.865983  ...  6.259283     0.0
3       4.743908  9.021302   2.382915  7.794851  ...  4.950624     0.0
4       6.618774  4.390847   2.888651  4.288273  ...  8.232558     0.0
...          ...       ...        ...       ...  ...       ...     ...
76078   2.322294  4.597614  15.355821  5.044057  ...  3.766550     0.0
76079  11.129331  2.941572   6.719591  6.236841  ...  6.329007     0.0
76080   4.272812  2.534465   5.586588  3.856765  ...  9.780756     0.0
76081   6.877179  3.633242   2.201543  1.288707  ...  2.264248     0.0
76082   4.210940  5.835942   3.008720  8.177645  ...  6.505299     0.0

         AE_181    AE_184    AE_187     AE_189    AE_191    AE_198    AE_199  \
0      2.060318  4.505659  7.431561   9.604703  1.262048  6.819504  2.294831
1      5.476419  4.691962  6.856816   0.458965  7.727770  6.414440  3.958019
2      4.057353  3.742463  5.481276  10.463400  5.083226  8.158071  6.396258
3      8.458349  3.442083  4.021017   1.823017  5.888297  2.992735  0.996680
4      2.663159  3.114678  2.836104   2.891103  0.352642  3.483029  4.046131
...         ...       ...       ...        ...       ...       ...       ...
76078  2.419508  4.525493  1.992741  11.834483  5.144965  5.021072  2.671479
76079  1.673177  3.071980  2.072944  10.303596  4.752009  2.014749  5.144578
76080  4.102943  5.223159  4.756289   5.493590  0.000000  6.731852  9.585409
76081  4.236577  8.170469  3.757071   3.274427  7.789967  3.568940  5.642931
76082  5.440491  3.561639  7.445329   5.786466  7.265205  5.376318  2.258754

       sample_id
0          33127
1         198967
2         261251
3          55858
4         292686
...          ...
76078      41424
76079      35537
76080     249971
76081     188322
76082     298504

[75128 rows x 68 columns]

In [25]:
df_cleaned=df_cleaned.drop('AE_172',axis=1)

In [26]:
df_cleaned=df_cleaned.iloc[:,1:]

In [27]:
df_cleaned

,AE_2,AE_5,AE_15,AE_17,AE_20,AE_23,AE_26,AE_30,AE_32,AE_36,...,AE_162,AE_169,AE_181,AE_184,AE_187,AE_189,AE_191,AE_198,AE_199,sample_id
0,5.757127,7.221293,3.635454,2.897849,7.894290,4.506068,2.356523,11.933986,0.462262,2.749249,...,5.417382,5.034784,2.060318,4.505659,7.431561,9.604703,1.262048,6.819504,2.294831,33127
1,6.822809,4.855610,4.841076,4.996041,4.430372,4.322799,3.083270,2.389127,2.884340,4.233173,...,2.231975,6.747530,5.476419,4.691962,6.856816,0.458965,7.727770,6.414440,3.958019,198967
2,5.067913,4.362028,4.281508,1.519393,0.000000,3.130606,1.192615,12.116302,2.865983,4.881608,...,4.820013,6.259283,4.057353,3.742463,5.481276,10.463400,5.083226,8.158071,6.396258,261251
3,9.999098,2.068369,5.782341,6.131246,5.751997,4.743908,9.021302,2.382915,7.794851,9.837534,...,1.944954,4.950624,8.458349,3.442083,4.021017,1.823017,5.888297,2.992735,0.996680,55858
4,3.030200,10.457285,2.528768,0.000000,6.575437,6.618774,4.390847,2.888651,4.288273,3.968383,...,2.906746,8.232558,2.663159,3.114678,2.836104,2.891103,0.352642,3.483029,4.046131,292686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76078,7.379260,5.895375,5.172736,4.785236,3.229356,2.322294,4.597614,15.355821,5.044057,1.554299,...,6.682939,3.766550,2.419508,4.525493,1.992741,11.834483,5.144965,5.021072,2.671479,41424
76079,5.733422,5.953198,1.391989,1.989073,3.763212,11.129331,2.941572,6.719591,6.236841,1.326019,...,5.208301,6.329007,1.673177,3.071980,2.072944,10.303596,4.752009,2.014749,5.144578,35537
76080,1.851457,9.030890,0.866502,3.699343,5.250681,4.272812,2.534465,5.586588,3.856765,4.808563,...,6.477203,9.780756,4.102943,5.223159,4.756289,5.493590,0.000000,6.731852,9.585409,249971
76081,7.080502,2.579115,1.929684,7.167837,5.450599,6.877179,3.633242,2.201543,1.288707,5.178709,...,1.189223,2.264248,4.236577,8.170469,3.757071,3.274427,7.789967,3.568940,5.642931,188322
76082,5.752820,5.564527,3.176674,10.266288,8.361842,4.210940,5.835942,3.008720,8.177645,6.658640,...,1.006819,6.505299,5.440491,3.561639,7.445329,5.786466,7.265205,5.376318,2.258754,298504

In [28]:
df_cleaned.shape

(75128, 66)

In [30]:
# Drop rows with duplicate 'InvoiceID', keeping the first occurrence
df_cleaned = df_cleaned.drop_duplicates(subset=['sample_id'], keep='first')

In [31]:
df_cleaned.shape

(74059, 66)

In [32]:
df_cleaned.to_csv('final_preprocessed_vit_train_data_to_concat.csv', index=False)